

.main-wrapper 
    display: grid
    position: relative


 
    .common-links
        
        ul
        display: grid
        background: black
        list-style: none
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr))
        // position: relative

        li 
            padding: 10px
            justify-content: center
            text-align: center
            display: flex
            border-top: 1px solid grey 
            border-bottom: 1px solid grey 
            opacity: .4
            // &:hover
            //         background: white
            //         height: 30px
            //         a 
            //             color: black
            //             font-size: 1.3rem
                      
        a 
            text-decoration: none
            text-transform: uppercase
            cursor: pointer
            font-size: .7rem
            color: $light
            letter-spacing: .2rem
 

    .main-nav 
        
      
        ul

            flex-direction: column
            // z-index: 1
            background: black
            height: 87vh
            overflow: hidden
            width: 100%
            display: none
            list-style: none
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
           

        
        li
        
          
            opacity: .4
            display: flex
            justify-content: flex-start
            padding: 10px 10px
            width: 80% 
            margin-left: 24px
           
        a 
            font-size: 0.875rem 
            text-decoration: none
            color: $light
            cursor: pointer
            letter-spacing: .2rem
      
        


  
       

                
                

          


           
  
           
    
            
            
         
   
           
            