@font-face {
  font-family: 'paris';
  src: url("fonts/parisr.eot");
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("webfont.woff2") format("woff2"), url("../fonts/parisr.woff") format("woff"), url("../fonts/parisr.ttf") format("truetype"), url("../fonts/parisr.svg") format("svg");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  overflow-x: hidden;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #ccc;
  line-height: 1.2;
}

/*----GENERAL STYLES-----*/
.btn {
  display: -ms-grid;
  display: grid;
  border: 1px solid #fff;
  background-color: Transparent;
  border: 1px solid #fff;
  overflow: hidden;
  opacity: .3;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.btn:hover {
  background: #fff;
  color: #444444;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  opacity: .5;
  margin-bottom: 55px;
  /*----- MAIN WRAPPER ----*/
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.main-nav {
  display: none;
}

.main-nav ul {
  display: -ms-grid;
  display: grid;
  padding: 0;
  background: #333333;
  list-style: none;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  opacity: .8;
}

.main-nav ul li {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px;
}

.main-nav ul li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.main-nav ul li:hover {
  background: #333;
  color: white;
}

.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "video";
}

.container h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: #fff;
  font-family: paris;
  z-index: 9;
  width: 100%;
  overflow: hidden;
  letter-spacing: .6rem;
}

.container .video {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: video;
  height: 100%;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.cat-1 {
  margin: 10px 15px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 15px;
}

.cat-1 .top {
  background: #444444;
  padding: 10px;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
}

.cat-1 .top h3 {
  font-size: 1.5rem;
  margin: 10px;
  color: #236841;
  text-transform: uppercase;
}

.cat-1 .top p {
  margin: 20px;
}

.cat-1 .top .list-items {
  text-align: left;
  margin-left: 50px;
}

/* -----------LAST TEXT SECTION ---------- */
.values-B {
  background: #444444;
  margin: 10px 15px;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  font-size: .8rem;
}

.values-B p {
  margin: 20px;
}

.values-B h3 {
  font-size: 2rem;
  margin: 10px;
  color: #236841;
}

/*------------FOOTER MAIN STYLES ----------- */
footer {
  display: -ms-grid;
  display: grid;
  margin-top: 10px;
}

footer ul {
  display: -ms-grid;
  display: grid;
  padding: 0;
  list-style: none;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3px;
}

footer ul li {
  text-align: center;
  padding: .8rem;
  background: #444444;
}

footer ul li a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
}

/* ----------------- IPAD MEDIA QUERIES -------------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .cat-1 {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .cat-1 .top h2 {
    font-size: 4rem;
  }
  .cat-1 .top h3 {
    font-size: 3rem;
  }
  .cat-1 .top p {
    font-size: 1.3rem;
  }
  display: -ms-grid;
  display: grid;
}

.main-nav {
  display: contents;
  position: fixed;
  /*--- ----Middle section text & books images------*/
  /* ------------------ FOOTER------------------*/
  /*-----------MEDIA QUERIES IPAD-PRO -------------- */
}

.main-nav ul {
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.main-nav li {
  margin: 0;
}

.main-nav li a {
  font-size: .5rem;
}

.main-nav li a:hover {
  background: #333;
  color: white;
}

.main-nav .container .video {
  font-size: 4rem;
}

.main-nav .top .list-items {
  text-align: left;
  margin-left: 50px;
}

.main-nav .boxes .values-B h3 {
  font-size: 2rem;
}

.main-nav .boxes .values-B p {
  font-size: 1.4rem;
  padding: 5px;
  margin: 0;
}

.main-nav footer ul {
  font-size: 1.2rem;
}

.main-nav .common-nav ul {
  grid-gap: 5px;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.main-nav .main-nav ul {
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.main-nav .main-nav ul li a {
  font-size: .6rem;
}

.main-nav .btn {
  font-size: 2rem;
  padding: 15px;
  margin: 10px;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  .container .video h1 {
    font-size: 5rem;
    margin-top: 20%;
  }
  .cat-1 {
    -ms-grid-columns: (minmax(400px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  }
  .cat-1 .top h2 {
    font-size: 4rem;
  }
  .cat-1 .top h3 {
    font-size: 3rem;
  }
  .cat-1 .top p {
    font-size: 1.3rem;
  }
  .cat-1 .list-items {
    text-align: left;
    margin-left: 50px;
  }
  .boxes .values-B h3 {
    font-size: 3rem;
  }
  .boxes .values-B p {
    font-size: 1.5rem;
  }
  footer ul {
    font-size: 1.5rem;
  }
}

/* ----------------LAPTOP AND DESKOP MEDIA QUERIES-------------*/
@media only screen and (min-device-width: 1280px) and (max-device-width: 2000px) {
  .cat-1 {
    -ms-grid-columns: (minmax(600px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(600px, 2fr));
  }
  .cat-1 .top p {
    font-size: 1.6rem;
  }
  .boxes .values-B h3 {
    font-size: 3rem;
  }
  .boxes .values-B p {
    font-size: 1.6rem;
  }
  .btn {
    font-size: 2rem;
    padding: 5px;
    margin: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */