@font-face {
  font-family: 'paris';
  src: url("fonts/parisr.eot");
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("webfont.woff2") format("woff2"), url("../fonts/parisr.woff") format("woff"), url("../fonts/parisr.ttf") format("truetype"), url("../fonts/parisr.svg") format("svg");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  overflow-x: hidden;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
  position: relative;
}

.main-wrapper .common-links {
  display: -ms-grid;
  display: grid;
  background: black;
  list-style: none;
  -ms-grid-columns: (minmax(90px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.main-wrapper .common-links li {
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  opacity: .4;
}

.main-wrapper .common-links a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: .7rem;
  color: #fff;
  letter-spacing: .2rem;
}

.main-wrapper .main-nav ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  background: black;
  height: 87vh;
  overflow: hidden;
  width: 100%;
  list-style: none;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-wrapper .main-nav li {
  opacity: .4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 10px;
  width: 80%;
  margin-left: 24px;
}

.main-wrapper .main-nav a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  letter-spacing: .2rem;
}

.main-wrapper #burger .drop-menu {
  opacity: 9;
  width: auto;
  height: 200px;
  padding: 20px;
  visibility: visible;
}

.main-wrapper #burger .drop-menu li {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  margin: 5px;
}

.main-wrapper #burger .drop-menu a {
  margin: 10px 0px 0px -10px;
}

/*-------HAMBURGUER MENU SECTION ------*/
.toggle-wrapper {
  background: black;
  height: 77px;
  width: 100%;
}

.logo {
  width: 45px;
  height: 45px;
  z-index: 1;
  display: block;
  margin: 0 auto;
  padding: 17px;
}

.hamburger_toggle_menu {
  position: absolute;
  top: 17px;
  padding: 6px;
  cursor: pointer;
  opacity: .5;
  z-index: 99;
  display: inline-block;
  cursor: pointer;
}

.lines1, .lines2, .lines3 {
  width: 40px;
  height: 4px;
  background-color: #FFFFFF;
  margin: 5px;
  color: #FFFFFF;
  margin-left: 20px;
}

/* -----------ROTATE LINES HAMBURGUER MENU-----------*/
.change .lines1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-flex-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-flex-transform-flex-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-flex-transform-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-flex-transform-color: black;
}

.change .lines2 {
  opacity: 0;
}

.change .lines3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.video-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "video-bg";
}

.video-wrapper .video-bg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: video-bg;
  position: relative;
  width: 100%;
  height: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.cat-1 {
  display: block;
}

.cat-1 .top1, .cat-1 .top-buy, .cat-1 .top-sell, .cat-1 .top-img, .cat-1 .top-img1, .cat-1 .top-img2 {
  background: #fafafa;
  margin: 10px;
  color: black;
  display: block;
  margin: 5 auto;
  text-align: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  padding: 20px;
}

.cat-1 .top1 p, .cat-1 .top-buy p, .cat-1 .top-sell p, .cat-1 .top-img p, .cat-1 .top-img1 p, .cat-1 .top-img2 p {
  font-size: 1.5rem;
}

.cat-1 .home-img {
  display: block;
  padding-top: 20px;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  height: auto;
}

.cat-1 h2 {
  font-size: 1.9rem;
  font-family: paris;
  line-height: 3.4rem;
  text-align: center;
}

.cat-1 h3 {
  font-size: 2rem;
  margin: 10px;
  color: #236841;
}

.cat-1 p {
  margin: 15px;
  font-size: 1.3rem;
}

.cat-1 .list-items {
  text-align: left;
  margin-left: 50px;
  font-size: 1rem;
}

.values-B {
  background: #fafafa;
  margin: 10px 15px;
  text-align: center;
  color: black;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  font-size: .8rem;
}

.values-B p {
  margin: 20px;
  font-size: 1.3rem;
}

.values-B h3 {
  font-size: 2rem;
  margin: 10px;
  color: #236841;
}

/*-------- STYLES BOOKS PAGE ---------*/
.main-wrapper {
  /*-------- top cover image ---------*/
}

.main-wrapper .books-image-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  height: 84vh;
  overflow-y: hidden;
  position: relative;
}

.main-wrapper .text-book-cover {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  height: 100%;
  margin: auto;
}

.main-wrapper .text-book-cover h1 {
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
  letter-spacing: .4rem;
  margin: 0 auto;
  font-size: 2.8rem;
  font-family: paris;
}

.main-wrapper .cover-img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.century-sec {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-bottom: 10px;
  grid-gap: 10px;
}

.century-sec .cent-box {
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  background: #fafafa;
  height: 90px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-decoration: none;
  font-family: paris;
  color: black;
}

.container-pics {
  grid-gap: 20px;
}

.container-pics .para-con {
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  background: #fafafa;
  margin: 20px;
}

.container-pics .para-con p {
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
}

.container-pics .book-img-box {
  background: #fafafa;
  text-align: center;
  color: black;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  margin-bottom: 20px;
}

.container-pics .book-img-box h3 {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: .2rem;
}

.container-pics .icon-book-fist-p {
  display: block;
  margin: 10px auto;
  width: 80px;
  height: 80px;
  padding: 20px;
  opacity: .5;
}

.container-pics .books-img {
  padding: 20px 0px;
}

.contaniner-meddle-section .box-middle {
  background: green;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  background: #fafafa;
  margin: 20px;
}

.contaniner-meddle-section .box-middle .icon-books {
  width: 80px;
  height: 80px;
  padding: 20px;
  margin: auto;
  display: block;
  opacity: .5;
}

.contaniner-meddle-section .box-middle p {
  font-size: 1.3rem;
  text-align: center;
  padding: 10px;
}

.wrapper-book-base .books-base1, .wrapper-book-base .books-base2 {
  display: -ms-grid;
  display: grid;
  background: green;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  background: #fafafa;
  margin: 20px;
  padding: 30px;
  text-align: center;
}

.wrapper-book-base .books-base1 .icon-base, .wrapper-book-base .books-base2 .icon-base {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  opacity: .5;
  padding: 20px;
}

/*------------FOOTER MAIN STYLES ----------- */
footer {
  display: -ms-grid;
  display: grid;
}

footer ul {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

footer ul li {
  padding: .4rem;
  background: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li:nth-child(2) {
  padding-left: 35px;
}

footer ul a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #ddd;
}

.century-main-wrapper {
  display: block;
}

.century-main-wrapper .century-text-top, .century-main-wrapper .century-text1, .century-main-wrapper .century-text2, .century-main-wrapper .century-text3, .century-main-wrapper .century-text4, .century-main-wrapper .century-text5, .century-main-wrapper .century-text6, .century-main-wrapper .century-card6, .century-main-wrapper .century-card5, .century-main-wrapper .century-card4, .century-main-wrapper .century-card3, .century-main-wrapper .century-card2, .century-main-wrapper .century-card1 {
  background: #fafafa;
  margin: 10px;
  color: black;
  display: block;
  margin: 5 auto;
  text-align: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000;
          box-shadow: 0px 10px 13px -7px #000000;
  padding: 20px;
}

.century-main-wrapper .century-text-top p, .century-main-wrapper .century-text1 p, .century-main-wrapper .century-text2 p, .century-main-wrapper .century-text3 p, .century-main-wrapper .century-text4 p, .century-main-wrapper .century-text5 p, .century-main-wrapper .century-text6 p, .century-main-wrapper .century-card6 p, .century-main-wrapper .century-card5 p, .century-main-wrapper .century-card4 p, .century-main-wrapper .century-card3 p, .century-main-wrapper .century-card2 p, .century-main-wrapper .century-card1 p {
  font-size: 1.5rem;
}

.century-main-wrapper .century-text1, .century-main-wrapper .century-text2, .century-main-wrapper .century-text3, .century-main-wrapper .century-text4, .century-main-wrapper .century-text5, .century-main-wrapper .century-text6, .century-main-wrapper .century-card6, .century-main-wrapper .century-card5, .century-main-wrapper .century-card4, .century-main-wrapper .century-card3, .century-main-wrapper .century-card2, .century-main-wrapper .century-card1 {
  padding: 30px;
}

.century-main-wrapper .century-text1 span, .century-main-wrapper .century-text2 span, .century-main-wrapper .century-text3 span, .century-main-wrapper .century-text4 span, .century-main-wrapper .century-text5 span, .century-main-wrapper .century-text6 span, .century-main-wrapper .century-card6 span, .century-main-wrapper .century-card5 span, .century-main-wrapper .century-card4 span, .century-main-wrapper .century-card3 span, .century-main-wrapper .century-card2 span, .century-main-wrapper .century-card1 span {
  font-size: 2.5rem;
  margin-left: 5px;
  letter-spacing: .4rem;
}

.century-main-wrapper .century-text1 h4, .century-main-wrapper .century-text2 h4, .century-main-wrapper .century-text3 h4, .century-main-wrapper .century-text4 h4, .century-main-wrapper .century-text5 h4, .century-main-wrapper .century-text6 h4, .century-main-wrapper .century-card6 h4, .century-main-wrapper .century-card5 h4, .century-main-wrapper .century-card4 h4, .century-main-wrapper .century-card3 h4, .century-main-wrapper .century-card2 h4, .century-main-wrapper .century-card1 h4 {
  font-size: 1.3rem;
  font-style: italic;
  letter-spacing: .1rem;
  margin-bottom: 3px;
}

.century-main-wrapper .century-text1 h3, .century-main-wrapper .century-text2 h3, .century-main-wrapper .century-text3 h3, .century-main-wrapper .century-text4 h3, .century-main-wrapper .century-text5 h3, .century-main-wrapper .century-text6 h3, .century-main-wrapper .century-card6 h3, .century-main-wrapper .century-card5 h3, .century-main-wrapper .century-card4 h3, .century-main-wrapper .century-card3 h3, .century-main-wrapper .century-card2 h3, .century-main-wrapper .century-card1 h3 {
  font-size: 3rem;
}

.century-main-wrapper .century-text1 .price, .century-main-wrapper .century-text2 .price, .century-main-wrapper .century-text3 .price, .century-main-wrapper .century-text4 .price, .century-main-wrapper .century-text5 .price, .century-main-wrapper .century-text6 .price, .century-main-wrapper .century-card6 .price, .century-main-wrapper .century-card5 .price, .century-main-wrapper .century-card4 .price, .century-main-wrapper .century-card3 .price, .century-main-wrapper .century-card2 .price, .century-main-wrapper .century-card1 .price {
  background: grey;
  margin-left: 0;
  opacity: .6;
}

.century-main-wrapper .century-text1 p, .century-main-wrapper .century-text2 p, .century-main-wrapper .century-text3 p, .century-main-wrapper .century-text4 p, .century-main-wrapper .century-text5 p, .century-main-wrapper .century-text6 p, .century-main-wrapper .century-card6 p, .century-main-wrapper .century-card5 p, .century-main-wrapper .century-card4 p, .century-main-wrapper .century-card3 p, .century-main-wrapper .century-card2 p, .century-main-wrapper .century-card1 p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: star;
          flex-direction: star;
  padding: 2px  0px 1px;
  margin: 2px 10px -10px;
  color: black;
}

.century-main-wrapper .century-text1 img, .century-main-wrapper .century-text2 img, .century-main-wrapper .century-text3 img, .century-main-wrapper .century-text4 img, .century-main-wrapper .century-text5 img, .century-main-wrapper .century-text6 img, .century-main-wrapper .century-card6 img, .century-main-wrapper .century-card5 img, .century-main-wrapper .century-card4 img, .century-main-wrapper .century-card3 img, .century-main-wrapper .century-card2 img, .century-main-wrapper .century-card1 img {
  padding: 30px;
}

.wrapper-book-base .books-base1 p, .wrapper-book-base .books-base2 p {
  font-size: 1.3rem;
}

@media only screen and (min-device-width: 414px) and (max-device-width: 768px) {
  .toggle-wrapper {
    display: none;
  }
  .main-wrapper .main-nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    height: 50px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .main-wrapper .main-nav li {
    text-decoration: none;
    padding: 5px;
  }
  .main-wrapper .main-nav a {
    margin: 0 auto;
  }
  .cat-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "top1 top1 top1" "top-img top-img1 top-img2" "top-buy top-buy top-buy" "top-sell top-sell top-sell " "values-B values-B values-B";
  }
  .cat-1 .top1, .cat-1 .top-buy, .cat-1 .top-sell, .cat-1 .top-img, .cat-1 .top-img1, .cat-1 .top-img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top1;
  }
  .cat-1 .top-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: top-img;
  }
  .cat-1 .top-img1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: top-img1;
  }
  .cat-1 .top-img2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: top-img2;
  }
  .cat-1 .top-buy {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top-buy;
  }
  .cat-1 .top-sell {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top-sell;
  }
  .cat-1 .values-B {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: values-B;
  }
  .century-main-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2" "century-card3 century-text3" " century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 ";
  }
  .century-main-wrapper .century-text-top, .century-main-wrapper .century-text1, .century-main-wrapper .century-text2, .century-main-wrapper .century-text3, .century-main-wrapper .century-text4, .century-main-wrapper .century-text5, .century-main-wrapper .century-text6, .century-main-wrapper .century-card6, .century-main-wrapper .century-card5, .century-main-wrapper .century-card4, .century-main-wrapper .century-card3, .century-main-wrapper .century-card2, .century-main-wrapper .century-card1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: century-text-top;
  }
  .century-main-wrapper .century-card1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: century-card1;
  }
  .century-main-wrapper .century-text1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: century-text1;
  }
  .century-main-wrapper .century-card2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: century-card2;
  }
  .century-main-wrapper .century-text2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: century-text2;
  }
  .century-main-wrapper .century-card3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: century-card3;
  }
  .century-main-wrapper .century-text3 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: century-text3;
  }
  .century-main-wrapper .century-card4 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: century-card4;
  }
  .century-main-wrapper .century-text4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: century-text4;
  }
  .century-main-wrapper .century-card5 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: century-card5;
  }
  .century-main-wrapper .century-text5 {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: century-text5;
  }
  .century-main-wrapper .century-card6 {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: century-card6;
  }
  .century-main-wrapper .century-text6 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: century-text6;
  }
  .century-main-wrapper img {
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
  }
  .books-image-wrapper {
    -ms-grid-rows: 1fr 1fr 2fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 1fr;
  }
  .books-image-wrapper .text-book-cover {
    -ms-grid-rows: 100px;
        grid-template-rows: 100px;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .books-image-wrapper .text-book-cover h1 {
    font-size: 5rem;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: -1;
    letter-spacing: .4rem;
  }
  .container-pics {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "para-con para-con para-con";
    grid-gap: 20px;
    margin: 20px;
  }
  .container-pics .para-con {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: para-con;
  }
  .container-pics .para-con h3 {
    font-size: 1.7rem;
    font-weight: 900;
  }
  .container-pics img {
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .container-pics .books-img {
    padding: 20px 0px;
  }
  .contaniner-meddle-section .box-middle {
    -webkit-box-shadow: 0px 10px 13px -7px #000000;
            box-shadow: 0px 10px 13px -7px #000000;
    background: #fafafa;
    margin: 20px;
  }
  .contaniner-meddle-section .box-middle .icon-books {
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: auto;
    display: block;
    opacity: .5;
  }
  .contaniner-meddle-section .box-middle p {
    font-size: 1.8rem;
    text-align: center;
    padding: 10px;
  }
  .wrapper-book-base {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: -ms-grid;
    display: grid;
  }
  .wrapper-book-base .books-base1 p, .wrapper-book-base .books-base2 p {
    font-size: 1.8rem;
  }
  footer ul {
    -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  footer ul li {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer ul li a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .main-wrapper .main-nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    height: 50px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .main-wrapper .main-nav li {
    text-decoration: none;
    padding: 5px;
  }
  .main-wrapper .main-nav a {
    margin: 0 auto;
  }
  .cat-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "top1 top1 top1" "top-img top-img1 top-img2" "top-buy top-buy top-buy" "top-sell top-sell top-sell " "values-B values-B values-B";
  }
  .cat-1 .top1, .cat-1 .top-buy, .cat-1 .top-sell, .cat-1 .top-img, .cat-1 .top-img1, .cat-1 .top-img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top1;
  }
  .cat-1 .top-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: top-img;
  }
  .cat-1 .top-img1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: top-img1;
  }
  .cat-1 .top-img2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: top-img2;
  }
  .cat-1 .top-buy {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top-buy;
  }
  .cat-1 .top-sell {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top-sell;
  }
  .cat-1 .values-B {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: values-B;
    font-size: 1.5rem;
  }
  .cat-1 .home-img {
    width: 200px;
    height: 200px;
  }
  .century-main-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2 " "century-card3 century-text3" "century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 ";
  }
  .century-main-wrapper .century-text-top, .century-main-wrapper .century-text1, .century-main-wrapper .century-text2, .century-main-wrapper .century-text3, .century-main-wrapper .century-text4, .century-main-wrapper .century-text5, .century-main-wrapper .century-text6, .century-main-wrapper .century-card6, .century-main-wrapper .century-card5, .century-main-wrapper .century-card4, .century-main-wrapper .century-card3, .century-main-wrapper .century-card2, .century-main-wrapper .century-card1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: century-text-top;
    padding: 50px;
  }
  .century-main-wrapper .century-text-top p, .century-main-wrapper .century-text1 p, .century-main-wrapper .century-text2 p, .century-main-wrapper .century-text3 p, .century-main-wrapper .century-text4 p, .century-main-wrapper .century-text5 p, .century-main-wrapper .century-text6 p, .century-main-wrapper .century-card6 p, .century-main-wrapper .century-card5 p, .century-main-wrapper .century-card4 p, .century-main-wrapper .century-card3 p, .century-main-wrapper .century-card2 p, .century-main-wrapper .century-card1 p {
    font-size: 2rem;
  }
  .century-main-wrapper .century-text-top img, .century-main-wrapper .century-text1 img, .century-main-wrapper .century-text2 img, .century-main-wrapper .century-text3 img, .century-main-wrapper .century-text4 img, .century-main-wrapper .century-text5 img, .century-main-wrapper .century-text6 img, .century-main-wrapper .century-card6 img, .century-main-wrapper .century-card5 img, .century-main-wrapper .century-card4 img, .century-main-wrapper .century-card3 img, .century-main-wrapper .century-card2 img, .century-main-wrapper .century-card1 img {
    width: 250px;
    height: 300px;
    padding-bottom: 30px;
  }
  .century-main-wrapper .century-text-top h4, .century-main-wrapper .century-text1 h4, .century-main-wrapper .century-text2 h4, .century-main-wrapper .century-text3 h4, .century-main-wrapper .century-text4 h4, .century-main-wrapper .century-text5 h4, .century-main-wrapper .century-text6 h4, .century-main-wrapper .century-card6 h4, .century-main-wrapper .century-card5 h4, .century-main-wrapper .century-card4 h4, .century-main-wrapper .century-card3 h4, .century-main-wrapper .century-card2 h4, .century-main-wrapper .century-card1 h4 {
    font-size: 1.9rem;
    font-style: italic;
    letter-spacing: .1rem;
    margin-bottom: 3px;
  }
  .century-main-wrapper .century-text-top h3, .century-main-wrapper .century-text1 h3, .century-main-wrapper .century-text2 h3, .century-main-wrapper .century-text3 h3, .century-main-wrapper .century-text4 h3, .century-main-wrapper .century-text5 h3, .century-main-wrapper .century-text6 h3, .century-main-wrapper .century-card6 h3, .century-main-wrapper .century-card5 h3, .century-main-wrapper .century-card4 h3, .century-main-wrapper .century-card3 h3, .century-main-wrapper .century-card2 h3, .century-main-wrapper .century-card1 h3 {
    font-size: 3rem;
  }
  .century-main-wrapper .century-card1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: century-card1;
  }
  .century-main-wrapper .century-text1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: century-text1;
  }
  .century-main-wrapper .century-card2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: century-card2;
  }
  .century-main-wrapper .century-text2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: century-text2;
  }
  .century-main-wrapper .century-card3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: century-card3;
  }
  .century-main-wrapper .century-text3 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: century-text3;
  }
  .century-main-wrapper .century-card4 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: century-card4;
  }
  .century-main-wrapper .century-text4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: century-text4;
  }
  .century-main-wrapper .century-card5 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: century-card5;
  }
  .century-main-wrapper .century-text5 {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: century-text5;
  }
  .century-main-wrapper .century-card6 {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: century-card6;
  }
  .century-main-wrapper .century-text6 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: century-text6;
  }
  .century-main-wrapper img {
    margin-bottom: 50px;
  }
  .toggle-wrapper {
    display: none;
  }
  .book-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    padding-bottom: 10px;
  }
  .book-container .book-img-box {
    background: #fafafa;
    text-align: center;
    color: black;
    -webkit-box-shadow: 0px 10px 13px -7px #000000;
            box-shadow: 0px 10px 13px -7px #000000;
  }
  .book-container .books-img {
    padding: 20px;
  }
  .century-sec {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10px;
    grid-column-gap: 10px;
  }
  .cent-box {
    -webkit-box-shadow: 0px 10px 13px -7px #000000;
            box-shadow: 0px 10px 13px -7px #000000;
    background: #fafafa;
    font-size: 1.8rem;
    line-height: 1.5rem;
    height: 90px;
  }
  .container-pics {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .container-pics .para-con {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: -1;
    -webkit-box-shadow: 0px 10px 13px -7px #000000;
            box-shadow: 0px 10px 13px -7px #000000;
    background: #fafafa;
    margin: 20px;
  }
  .container-pics .para-con p {
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
  }
  .container-pics img {
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .container-pics .book-img-box {
    background: #fafafa;
    text-align: center;
    color: black;
    -webkit-box-shadow: 0px 10px 13px -7px #000000;
            box-shadow: 0px 10px 13px -7px #000000;
    margin-bottom: 20px;
  }
  .container-pics .book-img-box .books-img {
    padding-bottom: 20px;
  }
  .container-pics .book-img-box h3 {
    padding: 10px;
    font-size: 1.9rem;
    font-weight: 900;
  }
  .container-pics .icon-book-fist-p {
    display: block;
    margin: 10px auto;
    width: 80px;
    height: 80px;
    padding: 20px;
    opacity: .5;
  }
  .contaniner-meddle-section {
    -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }
  .contaniner-meddle-section .box-middle {
    background: green;
    -webkit-box-shadow: 0px 10px 13px -7px #000000;
            box-shadow: 0px 10px 13px -7px #000000;
    background: #fafafa;
    margin: 20px;
  }
  .contaniner-meddle-section .box-middle .icon-books {
    width: 80px;
    height: 80px;
    padding: 20px;
    margin: auto;
    display: block;
    opacity: .5;
  }
  .contaniner-meddle-section .box-middle p {
    font-size: 1.8rem;
    text-align: center;
    padding: 10px;
  }
  .contaniner-meddle-section .box-middle .list-items {
    font-size: 1.5rem;
  }
  .wrapper-book-base {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: -ms-grid;
    display: grid;
  }
  .wrapper-book-base .books-base1 p, .wrapper-book-base .books-base2 p {
    text-align: center;
    font-size: 1.8rem;
  }
  .wrapper-book-base .icon-base {
    width: 80px;
    height: 80px;
    opacity: .5;
  }
  footer ul {
    -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  footer ul li {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  footer ul li a {
    font-size: 1.5rem;
  }
}

.books-image-wrapper .text-book-cover h1 {
  font-size: 5rem;
  overflow: hidden;
  padding: 15px;
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 2000px) {
  .main-wrapper .main-nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    height: 50px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .main-wrapper .main-nav li {
    text-decoration: none;
    padding: 5px;
  }
  .main-wrapper .main-nav a {
    margin: 0 auto;
  }
  .cat-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "top1 top1 top1" "top-img top-img1 top-img2" "top-buy top-buy top-buy" "top-sell top-sell top-sell " "values-B values-B values-B";
  }
  .cat-1 .top1, .cat-1 .top-buy, .cat-1 .top-sell, .cat-1 .top-img, .cat-1 .top-img1, .cat-1 .top-img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top1;
  }
  .cat-1 .top-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: top-img;
  }
  .cat-1 .top-img1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: top-img1;
  }
  .cat-1 .top-img2 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: top-img2;
  }
  .cat-1 .top-buy {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top-buy;
  }
  .cat-1 .top-sell {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: top-sell;
  }
  .cat-1 .values-B {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: values-B;
    font-size: 1.5rem;
  }
  .century-main-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2 " "century-card3 century-text3" "century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 ";
  }
  .century-main-wrapper .century-text-top, .century-main-wrapper .century-text1, .century-main-wrapper .century-text2, .century-main-wrapper .century-text3, .century-main-wrapper .century-text4, .century-main-wrapper .century-text5, .century-main-wrapper .century-text6, .century-main-wrapper .century-card6, .century-main-wrapper .century-card5, .century-main-wrapper .century-card4, .century-main-wrapper .century-card3, .century-main-wrapper .century-card2, .century-main-wrapper .century-card1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: century-text-top;
    padding: 50px;
  }
  .century-main-wrapper .century-text-top p, .century-main-wrapper .century-text1 p, .century-main-wrapper .century-text2 p, .century-main-wrapper .century-text3 p, .century-main-wrapper .century-text4 p, .century-main-wrapper .century-text5 p, .century-main-wrapper .century-text6 p, .century-main-wrapper .century-card6 p, .century-main-wrapper .century-card5 p, .century-main-wrapper .century-card4 p, .century-main-wrapper .century-card3 p, .century-main-wrapper .century-card2 p, .century-main-wrapper .century-card1 p {
    font-size: 2rem;
  }
  .century-main-wrapper .century-text-top img, .century-main-wrapper .century-text1 img, .century-main-wrapper .century-text2 img, .century-main-wrapper .century-text3 img, .century-main-wrapper .century-text4 img, .century-main-wrapper .century-text5 img, .century-main-wrapper .century-text6 img, .century-main-wrapper .century-card6 img, .century-main-wrapper .century-card5 img, .century-main-wrapper .century-card4 img, .century-main-wrapper .century-card3 img, .century-main-wrapper .century-card2 img, .century-main-wrapper .century-card1 img {
    width: 250px;
    height: 300px;
    padding-bottom: 30px;
  }
  .century-main-wrapper .century-text-top h4, .century-main-wrapper .century-text1 h4, .century-main-wrapper .century-text2 h4, .century-main-wrapper .century-text3 h4, .century-main-wrapper .century-text4 h4, .century-main-wrapper .century-text5 h4, .century-main-wrapper .century-text6 h4, .century-main-wrapper .century-card6 h4, .century-main-wrapper .century-card5 h4, .century-main-wrapper .century-card4 h4, .century-main-wrapper .century-card3 h4, .century-main-wrapper .century-card2 h4, .century-main-wrapper .century-card1 h4 {
    font-size: 1.9rem;
    font-style: italic;
    letter-spacing: .1rem;
    margin-bottom: 3px;
  }
  .century-main-wrapper .century-text-top h3, .century-main-wrapper .century-text1 h3, .century-main-wrapper .century-text2 h3, .century-main-wrapper .century-text3 h3, .century-main-wrapper .century-text4 h3, .century-main-wrapper .century-text5 h3, .century-main-wrapper .century-text6 h3, .century-main-wrapper .century-card6 h3, .century-main-wrapper .century-card5 h3, .century-main-wrapper .century-card4 h3, .century-main-wrapper .century-card3 h3, .century-main-wrapper .century-card2 h3, .century-main-wrapper .century-card1 h3 {
    font-size: 3rem;
  }
  .century-main-wrapper .century-card1 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: century-card1;
  }
  .century-main-wrapper .century-text1 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: century-text1;
  }
  .century-main-wrapper .century-card2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: century-card2;
  }
  .century-main-wrapper .century-text2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: century-text2;
  }
  .century-main-wrapper .century-card3 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: century-card3;
  }
  .century-main-wrapper .century-text3 {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: century-text3;
  }
  .century-main-wrapper .century-card4 {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: century-card4;
  }
  .century-main-wrapper .century-text4 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: century-text4;
  }
  .century-main-wrapper .century-card5 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: century-card5;
  }
  .century-main-wrapper .century-text5 {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-area: century-text5;
  }
  .century-main-wrapper .century-card6 {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-area: century-card6;
  }
  .century-main-wrapper .century-text6 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: century-text6;
  }
  .century-main-wrapper img {
    margin-bottom: 50px;
  }
  .century-sec {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10px;
    grid-column-gap: 10px;
  }
  .cent-box {
    -webkit-box-shadow: 0px 10px 13px -7px #000000;
            box-shadow: 0px 10px 13px -7px #000000;
    background: #fafafa;
    font-size: 2rem;
    height: 90px;
    line-height: 1.6rem;
  }
  .container-pics {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .container-pics .para-con {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: -1;
  }
  .container-pics .para-con p {
    font-size: 2rem;
  }
  .container-pics .book-img-box .books-img {
    padding-bottom: 20px;
  }
  .container-pics .book-img-box h3 {
    padding: 10px;
    font-size: 1.8rem;
    line-height: 1.6rem;
  }
  .container-pics .icon-book-fist-p {
    display: block;
    margin: 10px auto;
    width: 80px;
    height: 80px;
    padding: 20px;
    opacity: .5;
  }
  .container-pics .book-img-box img {
    border-radius: 50%;
  }
  .container-pics .text-book-cover {
    -ms-grid-rows: 100px (1fr)[3];
        grid-template-rows: 100px repeat(3, 1fr);
  }
  .container-pics .text-book-cover h1 {
    font-size: 5rem;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
  }
  .container-pics .text-book-cover p {
    font-size: 2.5rem;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: -1;
    margin: 0px 40px;
    overflow: visible;
  }
  .contaniner-meddle-section {
    -ms-grid-columns: (minmax(550px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  }
  .contaniner-meddle-section .box-middle p {
    font-size: 2rem;
    margin: 30px;
  }
  .contaniner-meddle-section .box-middle .list-items {
    font-size: 1.5rem;
  }
  .common-links li:hover {
    background: white;
    height: 20px;
  }
  .common-links li:hover a {
    color: black;
    font-size: 1.1rem;
  }
  .toggle-wrapper {
    display: none;
  }
  .cover-img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .top .home-img {
    width: 300px;
    height: 300px;
  }
  .wrapper-book-base {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    display: -ms-grid;
    display: grid;
  }
  .wrapper-book-base .books-base1 p, .wrapper-book-base .books-base2 p {
    text-align: center;
    font-size: 2rem;
  }
  .wrapper-book-base .icon-base {
    width: 80px;
    height: 80px;
    opacity: .5;
  }
}

body {
  background: white;
  line-height: 1.3;
  font-family: 'PT Sans Narrow', sans-serif;
}
/*# sourceMappingURL=styles.css.map */