@import ../FMA_web/fonts/font-face/_font-face
@import ../FMA_web/variables/_var
@import ../FMA_web/normalize/_normalize

    
body 
    background: #fafafa
    // margin: 10px 15px
    line-height: 1.3
    font-family: 'PT Sans Narrow', sans-serif
/*----GENERAL STYLES-----*/
.btn 
    display: grid
    border: 1px  solid $light
    background-color: Transparent
    background-repeat: no-repeat
    border: 1px  solid $light
    cursor:pointer
    overflow: hidden
    margin: 20px
    opacity: .7
    padding: 5px 
    color: $light
    text-decoration: none
    text-transform: uppercase
    letter-spacing: .2rem

    &:hover
        background: $light
        color: $gray-dark
img
  display: block
  margin: 0 auto 
  width: 100%
  height: 400px
  opacity: .5
  margin-bottom: 55px

  /*----- MAIN WRAPPER ----*/
// .main-wrapper 
//     display: grid
 

.main-nav 
   
    // position: fixed
    ul 
        display: grid
    
        padding: 0
        background: #333333
        list-style: none
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
     
        li 
            padding: 10px 10px
            
         
            a
                text-decoration: none
                color: $light
                cursor: pointer
                // text-transform: uppercase
            &:hover
                background: $grey-medium
                color: white


/*-------HAMBURGUER MENU SECTION ------*/
.toggle-wrapper
    background: black 
    height: 77px
    width: 100%
    z-index: 99
    // border-bottom: 1px solid grey 

.logo
    
    width: 50px
    height: 50px
    margin: 0 auto
    padding: 17px

.hamburger_toggle_menu
  
  position: absolute

  top: 17px
 
  padding: 4px
  cursor: pointer
  opacity: .5
  z-index: 99
  display: inline-block
  cursor: pointer

.lines1, .lines2,.lines3
  width: 50px
  height: 4px
  background-color: $white-color
  margin: 5px
  color: $white-color
  margin-left: 20px


/* ROTATE LINES HAMBURGUER MENU*/
// .change
//   .lines1
//    -webkit-transform: rotate(-45deg) translate(-9px, 6px)
//    -ms-flex-transform: rotate(-45deg) translate(-9px, 6px)
//     flex-transform: rotate(-45deg) translate(-9px, 6px)
//     transform: rotate(-45deg) translate(-9px, 6px)
//     color: black

//   .lines2
//     opacity: 0
   
//   .lines3
//     -webkit-transform: rotate(45deg) translate(-8px, -8px);
//     transform: rotate(45deg) translate(-8px, -8px)

   

.video-wrapper 
    display: grid
    grid-template-areas: "video-bg" 
        
    .video-bg
        grid-area: video-bg
  
        position: relative
        width: 100%
        height: auto
        grid-row: 1
        grid-column: 1
        //     // max-width: 100%
        //     // position: absolute
        // min-width: 100%
        // min-height: 100%
        // object-fit: cover
// .container 
//     display: grid
    
   
    // grid-gap: 20px
    // grid-template-areas: "video"
    // h1 
    //     font-size: 2rem
    //     display: none
    //     text-align: center
    //     margin-top: 30%
    //     justify-content: center
    //     position: absolute
    //     color: $light
    //     font-family: paris
    //     z-index: 9
    //     width: 100%
    //     overflow: hidden
    //     letter-spacing: .6rem
    //     transition-delay: 10s
 
    
           
     
.cat-1
    // margin: 20px 15px
    
    border-bottom: 1px solid grey 
    display: grid
    grid-gap: 5px
    margin: 20px
 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    margin-bottom: 15px

    .top 
        background: black
        // padding: 10px
        text-align: center
        color: $light
        box-shadow: $shadow

        h2 
            padding: 10px 0px 0px 0px
            font-size: 1.6rem
        h3 
            font-size: 2rem
            margin: 20px 
            color: $defaul-color
            // text-transform: uppercase
        p 
            margin: 15px
        .list-items
            text-align: left
            margin-left: 50px
           


          

/* -----------LAST TEXT SECTION ---------- */

.values-B
    background: black
    margin: 10px 15px
    
    text-align: center
    color: $light
    box-shadow: $shadow
    font-size: .8rem

    p 
        margin: 20px
    
    h2 
        padding: 20px
    h3 
        font-size: 2rem
        margin: 20px
        color: $defaul-color

/*------------FOOTER MAIN STYLES ----------- */
footer
    display: grid
    // margin-top: 10px
    grid-gap: 5px
    ul 
        display: grid
        list-style: none
        grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr))
        grid-gap: 3px
        li 
            // text-align: center
            padding: .5rem
            background: #444444
        
            a
                text-decoration: none
                cursor: pointer
                justify-content: center
                text-align: center
                display: block
                letter-spacing: .2rem
        
                text-transform: uppercase
                color: $gray-light


/*------- ALL MOBILE UNDER 414 [MEDIA QUERIES] -----*/

@media only  screen and(max-device-width:414px)

 
        

    .video-wrapper 
       
    
    .video-bg
        
       
        position: absolute
       
        // transform: translate(-50%, -50%)
        
        
        
       

    .cat-1
       margin: 10px

    // .main-wrapper 
    .main-nav 
        
        
        ul
            
            // display: flex

            flex-direction: column
            z-index: 99
            background: black
            // height: 900px
            overflow: hidden
            // opacity: .4
          

            width: 100%
            // height: 100vh
            position: absolute
            display: none
        
        li
        
            border-bottom: 1px solid grey 
            margin-top: 5px
            width: 80% 
            margin-left: 24px
            &:nth-last-child(-n + 1)
             
             border-bottom: none
             margin-bottom: 15px
        a 
         font-size: 1.3rem
        



/* -------------- IPAD MEDIA QUERIES -------------- */

@media only  screen and(min-device-width:768px) and (max-device-width:1024px)
    .toggle-wrapper
        display: none
   
      
    .cat-1
        margin: 20px
        
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        .top
            h2 
                font-size: 4rem
            h3 
                font-size: 3rem
            p 
                font-size: 1.3rem

    // display: grid


.main-nav 
    display: contents
    position: fixed
   
    ul 
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
        // position: fixed
    li 
        // background: blue
       
   
        
        a
            font-size: .8rem
            float: left
            text-align: center
            letter-spacing: .1rem
           
   

            
         
            // h1 
            // font-size: 4rem

    /*--- ----Middle section text & books images------*/
    .top
        .list-items
            text-align: left
            margin-left: 50px
    .boxes
        .values-B
            

            h3 
             font-size: 2rem
             padding: 15px
            p 
                font-size: 1.5rem
                // background: blue
                padding: 5px
                margin: 10px  

    /* ------------------ FOOTER------------------*/    
    footer
      
        ul  
            grid-template-columns:  repeat(auto-fit, minmax(100px, 1fr))
       
  
    .main-nav 
        ul 
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
            li 
                 a
                    font-size: .6rem
    .btn 
        font-size: 2rem
        padding: 15px 
        margin: 10px   







    /*-----------MEDIA QUERIES IPAD-PRO -------------- */

@media only  screen and(min-device-width:1024px) and (max-device-width:1366px)
    .main-nav 
        display: contents
        position: fixed
   
    ul 
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
        
    li 
        
        a
            font-size: .8rem
            float: left
            text-align: center
            letter-spacing: .1rem
    .toggle-wrapper
        display: none
  
    // .container
    //  .video
    //     h1 
    //      font-size: 5rem
    //      margin-top: 20%

    .cat-1
        grid-template-columns: repeat(auto-fit, minmax(400px, 2fr))
        .top
            h2 
                font-size: 4rem
            h3 
                font-size: 3rem
            p 
                font-size: 1.3rem
        
        .list-items
            text-align: left
            margin-left: 50px
    .boxes
        .values-B
            h3 
             font-size: 3rem
            p 
             font-size: 1.5rem
    footer
 
     ul 
        
        grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr))
        

        li 
            
            a 

             font-size: 1.5rem
             
             
             
             
             
             
             
  
         
          
/* ---------LAPTOP AND DESKOP MEDIA QUERIES-------------*/ 

@media only  screen and(min-device-width:1280px) and (max-device-width:2000px)
    .toggle-wrapper
      display: none

    .cat-1
     grid-template-columns: repeat(auto-fit, minmax(600px, 2fr))
     .top
        p 
         font-size: 1.6rem
    .boxes
     .values-B
            h3 
                font-size: 3rem
            p 
                font-size: 1.6rem
    .btn-wrapper
        display: grid
       
        
       

    .btn 
    
        padding: 5px 
        padding: 10px
        font-size: 1.4rem
        // width: 40%

      
      
        
        

     
           
        
           
              
                // &:nth-child(n2 + 2)
                //     width: 200px  
                
            
                    
            
                


   