section

    .contact-p
        background: #fafafa
        color: black
        display: block
        margin: 5 auto
        text-align: center
        box-shadow: $shadow
       


    .details-container
        background: #fafafa
        color: black
        // display: block
        margin: 5 auto
        box-shadow: $shadow
        text-align: center
        
        // @extend .contact-p
    

    .google-maps iframe 
        top: 0
        left: 0
        width: 100% 
        height: 300px 
        margin-bottom: 7% 
    

    form
        display: grid
        
        width: 95%
     

        .details
            grid-area: details
            // display: grid
            border: 1px solid #b9b8bb
            background: #fafafa
            color: black
            // display: block
            // margin: 0 auto
            box-shadow: $shadow
            // padding: 20px
            // margin-bottom: 10px


        .centuries
            grid-area: centuries
            border: 1px solid #b9b8bb
            background: #fafafa
            color: black
            box-shadow: $shadow
            padding: 20px
     
    
        select
            width: 70%
            border: 1px solid #b9b8bb
            font-size: $Desktop-paragraph
            display: block
            overflow: hidden
            
       
         

        .yes-and-no
            grid-area: yes-and-no
            border: 1px solid #b9b8bb
            background: #fafafa
            color: black
            box-shadow: $shadow
           

          
            
           
            .control-group 
                display: grid
           
                grid-template-columns: repeat(4, 1fr)
         
                label
                    text-align: center
            
                    letter-spacing: .2rem
       
                input
                    margin: 10px auto
     
        .sell-and-buy
            grid-area: sell-and-buy
            border: 1px solid #b9b8bb
            background: #fafafa
           
            padding: 20px
            color: black
            box-shadow: $shadow
            display: flex
            justify-content: center
            align-items: center
        
           
            .control-group 
                display: grid
           
                grid-template-columns: repeat(4, 1fr)
         
                label
                    text-align: center
         
                    letter-spacing: .2rem
       

                input
                
                    width: 100%
                    padding-left: 20px

             
            

        #name, #surname, #email, #tittle,
            width: 90%
            margin: 0 auto
            height: 25px
            padding: 5px
            border: 1px solid #b9b8bb
            margin-bottom: 20px
        #century
            // height: 40px
            display: flex
            align-items: center
            width: 100%

        
            
            font-style: italic
        legend
           
            padding: 10px
           
            text-align: center
        
    .submit-button
        input
           
            display: block
            color: #fff
            letter-spacing: .8rem
            background: $mainColor
         
            margin: 10px auto
            padding: 10px
            border-radius: 20px
         

