@media only  screen and(min-device-width:1025px) 
    .main-wrapper
        .main-nav 
        
        
            ul  
                display: grid
                grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
                height: 50px
               
             
                
                align-content: center
            
            li      
           
             text-decoration: none
             padding: 5px
             
             
            //     border: black
            //     text-align: center
               

            a
             margin: 0 auto
    .cat-1 
        display: grid
        grid-template-columns: repeat(3, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "top1 top1 top1" "top-img top-img1 top-img2" "top-buy top-buy top-buy" "top-sell top-sell top-sell " "values-B values-B values-B"

        .top1
        
            grid-area: top1
        

        .top-img 
       
        
            grid-area: top-img
  
        .top-img1 
            
            grid-area: top-img1
       
        
        .top-img2 
        
            grid-area: top-img2
         
    
        .top-buy 

            grid-area: top-buy
        .top-sell 
        
            grid-area: top-sell
        .values-B
        
            grid-area: values-B
        
        
            p 
            font-size: 1.5rem

        // .top-buy,.top-sell,.top-img ,.top-img1,.top-img2 
        //     @extend .top1
        .home-img
    .century-main-wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2 " "century-card3 century-text3" "century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 "
    

        .century-text-top
            grid-area: century-text-top
            padding: 50px
            p
                font-size: 2rem
            img 
                width: 250px
                height: 300px
                padding-bottom: 30px
            h4 
                font-size: 1.9rem
                font-style: italic
                letter-spacing: .1rem
                margin-bottom: 3px
            h3  
                font-size: 3rem

            
          
        .century-card1
            grid-area: century-card1

        .century-text1
            grid-area: century-text1
        
        .century-card2
            grid-area: century-card2
        .century-text2
            grid-area: century-text2
        .century-card3
            grid-area: century-card3
        .century-text3
            grid-area: century-text3
        .century-card4
            grid-area: century-card4
        .century-text4
            grid-area: century-text4
        .century-card5
            grid-area: century-card5
        .century-text5
            grid-area: century-text5
        .century-card6
            grid-area: century-card6
        .century-text6
            grid-area: century-text6
            
        img 
            margin-bottom: 50px
    .century-sec 
        display: grid
        grid-template-columns: repeat(4, 1fr)
        padding-bottom: 10px
        grid-column-gap: 10px
    .cent-box 
        box-shadow: $shadow
        background: #fafafa
        font-size: 2rem
        height: 90px
        line-height: 1.6rem
    .container-pics
       
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 20px

        .para-con 
            grid-column-start: 1
            grid-column-end: -1

            p 
                font-size: 2rem
                

        .book-img-box
           

            .books-img
                padding-bottom: 20px
            // margin: 20px
        
            h3 
                padding: 10px
                font-size: 1.8rem
               
                line-height: 1.6rem

        .icon-book-fist-p
            display: block
            margin: 10px auto
            width: 80px
            height: 80px
            padding: 20px
            opacity: .5
        .book-img-box
            img 
                border-radius: 50%
        

        
    .books-image-wrapper
            grid-template-rows: 1fr 1fr 2fr 1fr 
            
    
            .text-book-cover
                grid-template-rows:  100px  
                display: grid
                align-content: center
                h1 
                    font-size: 5rem
                    grid-row-start: 1
                    grid-row-end: -1
                    letter-spacing: 1rem
                   
              
                
            // p   
            //     font-size: 2.5rem 
            //     grid-row-start: 2
            //     grid-row-end: -1
            //     margin:  0px 40px
            //     overflow: visible
    .contaniner-meddle-section

        grid-template-columns: repeat(auto-fit, minmax(550px, 1fr))

        .box-middle
            .icon-books
        
    
            p
                font-size: 2rem
                margin: 30px
        
            .list-items
           
             font-size: 1.5rem
  
    .common-links
    
        
        ul
             
        
        li 
          
            &:hover
                    background: white
                    height: 20px
                    a 
                        color: black
                        font-size: 1.1rem
    .main-nav 

        ul
           

        li  
            height: 20px
    
            &:hover
                    background: white
                    padding: 10px
              
                  
                   
                

                    a 
                        color: black
                        font-size: 1.3rem
                        justify-content: center
               
                        
                        text-transform: uppercase
                     

        
          
            // opacity: .4
            // display: flex
            // justify-content: flex-start
            // padding: 10px 10px
            // width: 80% 
            // margin-left: 24px
           
        // a 
        //     font-size: 1.1rem 
        //     text-decoration: none
        //     color: $light
        //     cursor: pointer
        //     letter-spacing: .2rem

    
    .toggle-wrapper
        display: none
   
    .cover-img

        display: block
       
        margin: 0 auto 
        width: 100%
    .top
     .home-img
        width: 300px
        height: 300px

    .wrapper-book-base
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
       
        display: grid
        

        .books-base1
            p 
                text-align: center
                font-size: 2rem

        .icon-base
        
            width: 80px
            height: 80px
            opacity: .5

// .wrapper-book-base
//         display: grid
//         grid-template-columns: repeat(2, 1fr)
//         margin: 10px
//         grid-template-areas: "books-base1 books-base2" 
    
//         .books-base1
//             grid-area: books-base1
//             p 
//                 text-align: center
//                 font-size: 2rem
//                 padding: 35px
//         .books-base2
//             @extend .books-base1
//             grid-area: books-base2
                
       
            

//         .icon-base
            
//             width: 80px
//             height: 80px
//             display: block
//             margin: auto
//             padding: 
                
            