@media only  screen and(min-device-width:1025px)
    

    /*------ CONTACT PAGE  DESKTOP MEDIA QUERIES ---------*/
    .contact-wrapper-details
        display: grid 
        grid-gap: 5px
        margin: 10px
      
       
        grid-template-columns: 1fr 1fr 1fr
        grid-template-areas: "contact-p contact-p details-container "
        
    
        .contact-p
            grid-area: contact-p
          
            font-size: $Desktop-paragraph
            padding: 0px 120px
            margin: 5px
         
     

            .form-icon
                padding: 10px
                width: 60px
                height: 60px
                opacity: .3
        
        .details-container 
            grid-area: details-container 
            margin: 5px

           
            .contac-email-logo
                padding: 20px
                width: 60px
                height: 60px
                opacity: .4
            .emil-text, .phone
                p
                    font-size: $Desktop-paragraph


    .google-maps 
        
        position: relative
        padding-bottom: 23%
        margin: 20px
        height: 0
        overflow: hidden
        box-shadow: $shadow


    form    
        grid-template-columns: 1fr 1fr
        grid-gap: 10px
        margin: 30px auto
        box-sizing: border-box
        // margin-bottom: 15px
        grid-template-rows:  1fr 1fr 
        grid-template-areas: "details centuries"  "details yes-and-no" "details sell-and-buy"

        legend
            font-size: $Desktop-paragraph

        .details 
            label
                font-size: $Desktop-paragraph
                // display: block
                padding-left: 27px

            input 
                display: block
                margin: 0 auto 

        .centuries 
      
       

        .yes-and-no
         
            .control-group 
                label
                font-size: $Desktop-paragraph
         
       
            // grid-area: yes-and-no 
        .sell-and-buy 
            .control-group 
                label
                font-size: $Desktop-paragraph
 

    .submit-button
        input
            grid-column: 1/-1
            grid-row: 4/5
            font-size: $Desktop-paragraph
            width: 30%
            cursor: pointer 
            &:hover
                background: #87CC85
                width: 60%


    /*------ NAVIGATION DESKTOP MEDIA QUERIES --------*/
      
    .main-wrapper
        .main-nav 
            // background: black
            
            width: 100%
       
            ul  
                display: flex
                flex-direction: row
                justify-content: center
                border-bottom: 1px solid rgba(128,127,127,.5)
         
                height: 40px
             
            li      
           
                text-decoration: none
                font-size: $nav-comm0n-bar
                width: auto 
                display: flex
              
                text-align: center
                margin-right: 80px
                
   
                &:hover
                        background: white
                        height: 20px
                        a 
                            color: black
            
            a 
                text-align: center
        

        .common-links
        
            ul
                
            
            li 
            
                &:hover
                        background: white
                    
                        a 
                            color: black
                            // font-size: 1.1rem


    /*---- END NAVIGATION-------*/ 







    /*----- HOME PAGE DESKTOP MEDIA QUERIES --------*/
    .video-wrapper 
    
    .video-bg
        // position: relative
    .layout
     
    .video-tittle-container     
        
    

    
        width: 100%
        top: 20%
        
        h1 
        
            font-size: 10rem 
        
            
            margin: 40px
            line-height: 4.5rem
        
            font-weight: bolder 
            height: 300px
           
    
    
            &::after
            
                margin-right: 490px
                font-size: 4.5rem
                padding: 37px
          
            
                
            &::before
            
        
                transform: rotate(180deg)
                margin-left: 470px
                padding: 10px
                
                font-size: 4.5rem
            

            
        
     
        animation: myfirst 4s linear 1s 
    .cat-0
        .top1
            grid-area: top1
            display: flex
            padding: 20px
            text-align: center
            box-shadow: $shadow
            background: #fafafa
            font-size: $h3Desktop-tittle
            margin: 20px

            h2 
                font-size: 2rem
                padding: 10px
                line-height: 1.1rem
                background: $mainColor
                color: $white
                font-family: paris
                box-shadow: $shadow
                display: flex
                justify-content: center
                align-items: center
                

            p 
                margin: 15px
                font-size: $Desktop-paragraph
                padding: 0px 150px

             
    .cat-1 
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-template-areas: "top1 top1 top1" "top-img top-img1 top-img2" "top-buy top-buy top-buy" "top-sell top-sell top-sell " "values-B values-B values-B"

   

        
            

        .top-img, .top-img1, .top-img2
            height: auto

           
            .home-img
                width: 200px
                height: 200px
                box-sizing: border-box
                transition: all 0.75s ease-in-out
                &:hover
                    transform: scale(1.4)
              
            
        .top-img
            grid-area: top-img
        .top-img1  
            grid-area: top-img1

        .top-img2 
            grid-area: top-img2
        .top-buy 
            grid-area: top-buy
            display: grid
            grid-template-columns: 1fr 1fr
          
            p 
            
            .list-items
                margin-left: 70px
                margin-right: 20px
                padding-left: 1.5em
                text-indent: -1.5em
                padding-bottom: 20px
   
            li
                font-size: $Desktop-list
                padding-left: 1.5em
                text-indent: -1.5em
                padding-top: 5px
                height: 100%
                &:before 
                    content: "📚"
                    padding-right: 3px

        .top-sell 
            grid-area: top-sell
        .values-B
            grid-area: values-B
        
    /*-------END HOME PAGE -------*/






      
    /*-------19TH CENTURY PAGE DESKTOP MEDIA QUERIES  -------*/
    .main-wrapper
        
    .century-image-wrapper
        height: 100vh
        overflow: hidden
        position: relative
        display: grid
        justify-items: center
    
        .century-cover-img
            height: 100vh
            width: 100vw
      
    
        h1
            position: absolute
            font-size: 4rem
            top: 40%
            font-family: paris

    .century-main-wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2 " "century-card3 century-text3" "century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 "
    

        .century-text-top
            grid-area: century-text-top
          
            p
                font-size: $Desktop-paragraph
                margin: 0 auto
                width: 550px
          
          

            .home-cat-icon-top
                opacity: .5
                width: 80px
                height: 80px
                padding: 10PX
        .century-text1, .century-text2,.century-text3 ,.century-text4,.century-text5, .century-text6
            p 
                 
                font-size: $Desktop-paragraph  
                line-height: 2.5rem
            
          
        .century-card6, .century-card5, .century-card4 ,.century-card3 ,.century-card2, .century-card1

            h4 
                font-size: $h4Desktop-tittle
                font-style: italic
                letter-spacing: .1rem
                margin-bottom: 3px
                font-family: paris
                color: $footer-main 
            h3  
                font-size: $h3Desktop-tittle
                font-family: paris
                color: $mainColor


            .century-img 
             
                width: 150px
                height: 150px 
                margin: 0
                padding: 50px
                transition: all 0.75s ease-in-out

                &:hover
                    transform: scale(1.2)
                

            .price
            
                width: 40%
                padding: 10px
                height: 50px
                overflow: hidden
               
              
                p 
                
                    font-size: $Ipad-list
                    text-align: center
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 40%
                    
                .century-star
                    font-size: .8rem
             

          
                           
                     

        display: grid
        grid-template-columns: repeat(2, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2 " "century-card3 century-text3" "century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 " 

        .century-card1
            grid-area: century-card1

        .century-text1
            grid-area: century-text1
        
        .century-card2
            grid-area: century-card2
        .century-text2
            grid-area: century-text2
        .century-card3
            grid-area: century-card3
        .century-text3
            grid-area: century-text3
        .century-card4
            grid-area: century-card4
        .century-text4
            grid-area: century-text4
        .century-card5
            grid-area: century-card5
        .century-text5
            grid-area: century-text5
        .century-card6
            grid-area: century-card6
        .century-text6
            grid-area: century-text6



        /*------- 19TH CENTURY PAGE -------*/




            
     
    /* -----STAR BOOKS IPAD-PRO  MEDIUM SCREENS MEDIA QUERIES----*/
    .books-image-wrapper
        grid-template-rows: repeat(5, 1fr)

        .text-book-cover
            grid-template-rows:  1fr 
            display: grid
            align-content: center

            
            h1 
                font-size: 6rem
                grid-row-start: 1
                grid-row-end: -1
                letter-spacing: .4rem
           
        .books-img 
                padding: 20px

    
    .century-sec 
        display: grid
        grid-template-columns: repeat(4, 1fr)
        padding-bottom: 10px
        grid-column-gap: 5px
        
     
        a 
            font-size: $h4Desktop-tittle
            padding: 30px 10px
            line-height: 2.3rem

    .container-pics
       
        display: grid
        grid-template-columns: repeat(3, 1fr)
      
 

        .para-con 

            grid-column-start: 1
            grid-column-end: -1 
            height: auto

            p 
                padding: 20px  100px
                text-align: center
                font-size: $Desktop-paragraph
           
           

            .icon-book-fist-p

                width: 80px
                height: 80px
                padding: 15px
     

        .book-img-box
            margin: 10px
            h3 
             
                font-size: $h4Desktop-tittle
                line-height: 2rem
        
            .books-img
                width: 150px
                height: 150px
                transition: all 0.75s ease-in-out
                &:hover
                    transform: scale(1.3)
        .cant-link-container
            height: 50px
            margin: 20px

        .cat-link-readmore
            
             
            padding: 20px
            font-size: $h4Phone-tittle
            cursor: pointer
            text-decoration: none
            letter-spacing: .1rem
            font-style: italic
            color: $gray-dark
           
            &:hover
                text-decoration: underline
                color: #259C9B
            
    .contaniner-meddle-section

        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr))

        .box-middle
            .icon-books
    
                width: 90px
                height: 90px
                box-sizing: border-box
                padding: 10px
            p
                font-size: $Desktop-paragraph
                width: 550px
                margin: 10px auto
                padding: 0px
              
    .wrapper-book-base

        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        display: grid
      
        .books-base1, .books-base2
            margin: 5px

            p 
                font-size: $Desktop-paragraph
                width: 550px
                // box-sizing: border-box
                margin: 0px auto
            
            .icon-base
            
                width: 90px
                height: 90px
                box-sizing: border-box
                padding: 10px
    
        /*---- END BOOK PAGE IPAD-PRO MEDIA QUERIES ----*/


    

   
        /* -----STAR DELIVERY PAGE IPAD DESTOP SCREENS -------*/

    .table-wrapper
    .delivery-caption
        box-shadow: $shadow
        background: #fafafa
        margin: 10px
        margin-bottom: 20px
       
        p
            font-size: $Desktop-paragraph
            width: 400px
            margin: 10px auto
      
       

        .delivery-truck-icon
            width: 50px
            height: 60px
            display: block
            margin: 0 auto
            opacity: 0.5

    table
        width: 95%
    

        .kg
            padding: 10px
            background: $defaul-color
            text-transform: uppercase
            color: $white
            font-size: $Desktop-paragraph


        td
            
           
            color: #000 
            text-align: center
            border: 1px solid #DEDEDE
            padding: 10px
            font-size: $Desktop-list
            
            
        .eu, .uk,.re,.ue 
            text-align: left
            border: 2px solid #DEDEDE
            padding: 5px
            background: #bce4ce
            text-transform: uppercase
            font-size: $Desktop-paragraph
   


        .pr, .st
            padding: 10px
            border: 2px solid #DEDEDE
            background:  #bbebd1
            font-style: italic
            letter-spacing: .1rem
            font-size: $Desktop-paragraph

        th 
            border: 2px solid #DEDEDE
  
    span 
            
            display: none 

    .delivery-countries-wrapper
        display: grid 
        grid-template-columns: repeat(3, 1fr)
       

        .delivery-estimate-p

            .delivery-package-icon

                width: 50px
                height: 50px
                display: block
                margin: 5px auto
                opacity: 0.5
                box-sizing: border-box

            p 
                font-size: $Desktop-paragraph
                margin: 0px 100px
                padding: 20px

        .countries-list
    
            h3 
                font-size: $h4Desktop-tittle
                line-height: 2rem
                padding-top: 20px
            ul
                padding: 15px
                display: flex
                justify-content: center
            

                li 
                    padding: 20px
                    font-size: $Desktop-list

                    img 
                        width: 40px
                        height: 40px
                        padding: 10px
                
                    
            img 
            
                padding-right: 6px
                display: block
                margin: 0 auto
        

        .delivery-dispath-p

            .delivery-time-icon
                width: 60px
                height: 60px
                box-sizing: border-box
            
            p 
                font-size: $Desktop-paragraph
                padding:  10px 90px 40px 90px 


    /*------ END DELIVERY PAGE STYLES ------*/                   

    .toggle-wrapper
        display: none
   
    .cover-img

        display: block
       
        margin: 0 auto 
        width: 100%
    .top
     .home-img
        width: 300px
        height: 300px

    

        // &:focus 
        //     left: auto
        //     top: 0
    //     // outline: none



    footer
        ul 
            li 
                
                border-right: 1px solid rgb(242, 241, 241)          
                a  
                    letter-spacing: .2rem 

    
    

                
            