
@media only  screen and(min-device-width:414px) and (max-device-width:768px) 
    .toggle-wrapper
        display: none

    .main-wrapper
        .main-nav 
            ul  
                display: grid
                grid-template-columns: repeat(5, 1fr)
                height: 50px
                margin: 0
                align-content: center
            
            li      
           
             text-decoration: none
             padding: 5px
             margin-left: 0
             text-align: center
             padding: 10px

            a
             margin: 0 auto
  
    .cat-1 
        display: grid
        grid-template-columns: repeat(3, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "top1 top1 top1" "top-img top-img1 top-img2" "top-buy top-buy top-buy" "top-sell top-sell top-sell " "values-B values-B values-B"

        .top1
        
            grid-area: top1
        

        .top-img 
        
            grid-area: top-img
        .top-img1 
            
            grid-area: top-img1
        .top-img2 
        
            grid-area: top-img2
    
        .top-buy 

            grid-area: top-buy
        .top-sell 
        
            grid-area: top-sell
        .values-B
        
            grid-area: values-B

    .century-main-wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2" "century-card3 century-text3" " century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 "



        .century-text-top
            grid-area: century-text-top
            
        .century-card1
            grid-area: century-card1

        .century-text1
            
            grid-area: century-text1
           
        .century-card2
            grid-area: century-card2


        .century-text2
            grid-area: century-text2
        
        .century-card3
            grid-area: century-card3

        .century-text3
            grid-area: century-text3

        .century-card4
            grid-area: century-card4

        .century-text4
            grid-area: century-text4
        
        .century-card5
            grid-area: century-card5

        .century-text5
            grid-area: century-text5

        .century-card6
            grid-area: century-card6

        .century-text6
            grid-area: century-text6
        img 
            margin-bottom: 50px
            width: 200px
            height: 200px

         
    .books-image-wrapper
        grid-template-rows: 1fr 1fr 2fr 1fr 
        
   
        .text-book-cover
            grid-template-rows:  100px  
            display: grid
            align-content: center
            h1 
                font-size: 1rem
                grid-row-start: 1
                grid-row-end: -1
                letter-spacing: .4rem
    .century-sec 
  
    .cent-box 
      
        font-size: 1.8rem
        line-height: 1.6rem
  

        height: 90px
  
    .container-pics
        
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-areas: "para-con para-con para-con"
        grid-gap: 20px
        margin: 20px
        .para-con 
            grid-area: para-con
         
            h3 
             
                font-size: 1.7rem
                font-weight: 900
        
        img 
            padding: 10px
            width: 200px
            height: 200px
            border-radius: 50%


        // .icon-book-fist-p
        //     display: block
      
        //     width: 80px
        //     height: 80px
        //     padding: 20px
        //     opacity: .5
      
        .books-img 
                padding: 20px 0px
    .contaniner-meddle-section
        .box-middle
            box-shadow: $shadow
            background: #fafafa
            margin: 20px

            .icon-books
           
                width: 80px
                height: 80px
                padding: 20px
                margin: auto
                display: block
                opacity: .5
            p
                font-size: 1.8rem
                text-align: center
                padding: 10px

        
    .wrapper-book-base
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        display: grid
        .books-base1 
            p 
                font-size: 1.8rem
        

        // .books-base1
        // p 
    
        //     text-align: center
        //     font-size: 1.8rem

        // .icon-base
        
        //     width: 80px
        //     height: 80px
        //     opacity: .5
 
   
    .delivery-logo
  
        img
            width: 60px
            height: 60px
            display: block
            margin: auto
         
.delivery-countries-wrapper
   

    .delivery-estimate-p
        background: #fafafa
        margin: 10px
        color: black
        display: block
        margin: 5 auto
        text-align: center
        box-shadow: $shadow
        font-size: 1.8rem
     
        padding: 20px
    .countries-list
        position: relative
        height: 200px
        overflow: hidden

        p 
            font-size: 2rem
            line-height: 2rem
          
        ul 
     
            position: absolute
            left: 0
            font-size: 1.4rem
            text-align: left
            padding: 10px

        strong 
            font-weight: bold
               
    .delivery-dispath-p
        @extend .delivery-estimate-p
    
        p 
            font-size: 2rem
    footer
     ul  
        grid-template-columns:  repeat(auto-fit, minmax(50px, 1fr))
        li 
            align-content: center
            a 
             font-size: 1.5rem
          
