@media only  screen and(min-device-width:769px) and (max-device-width:1024px)
    /*-------======= CONTACT PAGE STYLES IPAD ========----------*/
    .contact-wrapper-details
        display: grid 
        margin: 10px
        grid-template-columns: 1fr 1fr 1fr
        grid-template-areas: "contact-p contact-p details-container"
    
    
        .contact-p
            grid-area: contact-p
            font-size: $Ipad-paragraph
            padding: 0px 120px 30px 120px
            margin: 5px
           
            

            .form-icon
                width: 60px
                height: 60px
                padding: 10px
                opacity: .3
        .details-container 
            grid-area: details-container 
            margin: 5px
            

            .contac-email-logo
                padding: 20px
                width: 60px
                height: 60px
                opacity: .4
            .emil-text, .phone
                p
                    font-size: $Ipad-paragraph
                    
        
    .google-maps 
        position: relative
        padding-bottom: 29%
        margin: 20px
        height: 0
        overflow: hidden
        box-shadow: $shadow
        background: #fafafa
            
    form    
        grid-template-columns: 1fr 1fr
        grid-gap: 10px
        margin: 0 auto
        // margin-bottom: 15px
        grid-template-rows:  1fr 1fr 1fr 
        grid-template-areas: "details centuries"  "details yes-and-no" "details sell-and-buy"

        legend
            font-size: $h4Ipad-tittle

        .details 
            label
                font-size: $Ipad-paragraph
                padding-left: 22px
                

            input 
                display: block
                margin: 0 auto 

            
            // grid-area: details
        .centuries 
            grid-column: 2/3
            grid-row: 1/2
            // grid-area: centuries 
        .yes-and-no
        
            .control-group 
                label
                font-size: $Ipad-paragraph
        
    
            // grid-area: yes-and-no 
        .sell-and-buy 
            .control-group 
                label
                font-size: $Ipad-paragraph
        
    
    

    .submit-button
        input
            grid-column: 1/-1
            grid-row: 4/5
            font-size: $Ipad-paragraph
            width: 60%
 
    .main-wrapper
        .main-nav 
        
        
            ul  
                display: grid
                grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
                height: 51px
                border: none
             
                
                align-content: center
            
            li      
           
             text-decoration: none
             padding: 5px
       
            a
             margin: 0 auto


    /*---- HOME PAGE STYLES IPAD-PRO-------*/
    .cat-0
        .top1
            grid-area: top1
            display: flex
            padding: 20px
            text-align: center
            box-shadow: $shadow
            background: #fafafa
            margin: 20px

            h2 
                font-size: 2rem
                padding: 10px
                line-height: 1.1rem
                background: $mainColor
                color: #fff
                font-family: paris
                box-shadow: $shadow
                display: flex
                justify-content: center
                align-items: center
                

            p 
                margin: 15px
                font-size: $Ipad-paragraph 
                padding: 0px 60px

    .cat-1 
        display: grid
        grid-template-columns: repeat(3, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "top1 top1 top1" "top-img top-img1 top-img2" "top-buy top-buy top-buy" "top-sell top-sell top-sell " "values-B values-B values-B"


        
        h3 
            font-size: $h3Ipad-tittle
            line-height: 2rem
            letter-spacing: .2rem
            padding: 10px
 
        p 
            margin: 15px
            font-size: $Ipad-paragraph 
            padding: 0px 60px

       

        .top-img, .top-img1, .top-img2
     
            display: grid
            justify-content: center
   
        .top-img 
            grid-area: top-img
        .top-img1 
            grid-area: top-img1
        .top-img2 
            grid-area: top-img2
        .top-buy
            grid-area: top-buy
            display: grid
            grid-template-columns: 1fr 1fr

            h3 
                padding-top: 40px

            p 

            .list-items
              
                padding-left: 1.5em
                text-indent: -1.5em
                padding: 70px 100px
                
                
                font-size: $h3Ipad-tittle
                // line-height: 2rem
                // letter-spacing: .2rem
          
   
            li
                font-size: $Ipad-list
                padding-left: 1.5em
                text-indent: -1.5em
                padding-top: 5px
          
                &:before 
                    content: "📚"
                    padding-right: 3px

        .top-sell 
            grid-area: top-sell
        .values-B
            grid-area: values-B
            p 
            font-size: 1.5rem

        
    /*---- 19TH CENTURY PAGE IPAD-PROD MEDIA QUERIES ------*/


    .century-main-wrapper
        .century-text-top
            grid-area: century-text-top


            p
                font-size: $Ipad-paragraph
                width: 550px
                margin: 0 auto
              

            .home-cat-icon-top
                opacity: .5
                width: 60px
                height: 60px
                margin: 10px
         
        
        .century-text1, .century-text2,.century-text3 ,.century-text4,.century-text5, .century-text6
            p 
              
                font-size: $Ipad-paragraph
                width: 350px
                line-height: 2rem

               
               
         

        .century-card6, .century-card5, .century-card4 ,.century-card3 ,.century-card2, .century-card1 
            h4 
        
                letter-spacing: .1rem
                margin-bottom: 3px
                font-size: $h4Ipad-tittle
        
            h3  
                font-size: $h3Ipad-tittle
                margin-top: 40px

            .century-img 
                margin: 10px
                width: 150px
                height: 150px

            
            .price
                width: 60%
                bottom: 0
                height: 60px
              
              
                p 
                    font-size: $Ipad-list
                    text-align: center
                    display: flex
                    justify-content: center
                    align-items: center
                    width: 40%
                    
                    .century-star
                        font-size: .8rem
                        opacity: 9



        display: grid
        grid-template-columns: repeat(2, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2" "century-card3 century-text3" " century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 "

        .century-card1
            grid-area: century-card1

        .century-text1
            
            grid-area: century-text1
           
        .century-card2
            grid-area: century-card2
        .century-text2
            grid-area: century-text2
        
        .century-card3
            grid-area: century-card3

        .century-text3
            grid-area: century-text3

        .century-card4
            grid-area: century-card4

        .century-text4
            grid-area: century-text4
        
        .century-card5
            grid-area: century-card5

        .century-text5
            grid-area: century-text5

        .century-card6
            grid-area: century-card6

        .century-text6
            grid-area: century-text6
              
    
    .toggle-wrapper
        display: none



    /* -----STAR BOOKS IPAD-PRO  STYLES MEDIA QUERIES----*/
    .books-image-wrapper
        grid-template-rows: repeat(5, 1fr)

        .text-book-cover
            grid-template-rows:  100px  
            display: grid
            align-content: center
            
            h1 
                font-size: 7rem
                grid-row-start: 1
                grid-row-end: -1
                letter-spacing: .4rem
                height: 150px
        .books-img 
    
                padding: 20px

    
    .century-sec 
        display: grid
        grid-template-columns: repeat(4, 1fr)
        padding-bottom: 10px
        grid-column-gap: 5px
        
     
        a 
            font-size: $h4Ipad-tittle
            padding: 30px 10px
            line-height: 2.3rem

    .container-pics
       
        display: grid
        grid-template-columns: repeat(3, 1fr)
      

        .para-con 

            grid-column-start: 1
            grid-column-end: -1 
           

            p 
                padding: 15px  60px
                text-align: center
                font-size: $Ipad-paragraph
            .books-img
                width: 150px
                height: 150px

        .icon-book-fist-p

            width: 70px
            height: 70px
     
        .book-img-box
            
            margin: 10px

            h3 
                font-size: $h3Ipad-tittle
                color: $mainColor
                line-height: 2.2rem
  
    .contaniner-meddle-section

        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr))

        .box-middle
            background: green
            box-shadow: $shadow
            background: #fafafa
            margin: 20px
          
            .icon-books
    
                width: 60px
                height: 60px
                padding: 10px
               
            p
                font-size: $Ipad-paragraph
                margin: 0px 140px
                padding-bottom: 30px

    .wrapper-book-base

        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        display: grid
        margin: 15px

        .books-base1
            margin: 10px

            p 
                font-size: $Ipad-paragraph
            

            .icon-base
                width: 60px
                height: 60px
             
        /*---- END BOOK PAGE IPAD-PRO MEDIA QUERIES ----*/





    /* ---  STAR DELIVERY PAGE IPAD MEDIUM SCREENS -------*/
    .table-wrapper
    .delivery-caption
        box-shadow: $shadow
        background: #fafafa
        margin: 10px
        margin-bottom: 20px
       
        p
            font-size: $Ipad-paragraph
            padding: 10px
            text-align: center
            margin: 0px 160px

        .delivery-truck-icon
            width: 70px
            height: 70px
            display: block
            margin: 0 auto
            opacity: 0.5

    table
        width: 95%
    

        .kg
            padding: 10px
            background: $defaul-color
            text-transform: uppercase
            color: #fff
            font-size: 1.3rem


        td
            
           
            color: #000 
            text-align: center
            border: 1px solid #DEDEDE
            padding: 10px
            font-size: $Ipad-paragraph
            
            
        .eu, .uk,.re,.ue 
            text-align: left
            border: 2px solid #DEDEDE
            padding: 5px
            background: #175c37
            text-transform: uppercase
            color: #fff
   


        .pr, .st
            padding: 10px
            border: 2px solid #DEDEDE
            background:  #bbebd1
            color: $mainColor
            font-style: italic
            letter-spacing: .1rem
            font-size: $Ipad-paragraph

        th 
            border: 2px solid #DEDEDE
  
    span   
            display: none  
    .delivery-countries-wrapper
        display: grid 
        grid-template-columns: repeat(3, 1fr)
        .delivery-estimate-p
            .delivery-package-icon
        
                width: 70px
                height: 70px
                display: block
                margin: 5px auto
                opacity: 0.5
                padding-top: 30px
            

        
            p 
                font-size: $Ipad-paragraph
       
                padding: 20px

        .countries-list
    
            h3 
                font-size: $h4Ipad-tittle
                line-height: 1.3rem
                padding: 20px 70px
            ul
          
                display: flex
                justify-content: center
            

                li 
                    padding: 10px
                    font-size: $Ipad-list

                    img 
                        width: 40px
                        height: 40px
                        padding: 10px
                
        .delivery-dispath-p

            img 
                width: 70px
                height: 70px
                display: block
                margin: 5px auto
                opacity: 0.5
                padding-top: 30px
   
            p 
                font-size: $Ipad-paragraph
                padding: 20px 30px
               
    /*------ END DELIVERY STYLES IPAD-PRO MEDIA QUERIES ------*/


        



      
  
       
    
