@media only  screen and(min-device-width:768px) and (max-device-width:1024px)
  
        

    .century-sec 
        display: grid
        grid-template-columns: repeat(4, 1fr)
        padding-bottom: 10px
        grid-column-gap: 10px
    .cent-box 
        box-shadow: $shadow
        background: #fafafa

        height: 90px
        display: grid
        align-content: center
        text-align: center
        text-decoration: none
        font-family: paris
        font-size: 2rem
        color: black


    .toggle-wrapper
        display: none
    .book-container
       
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-auto-rows: 1fr
        grid-gap: 10px
        padding-bottom: 10px

        .book-img-box
            background: #fafafa
            text-align: center
            color: black
            box-shadow: $shadow

        .books-img 
        
           
                padding: 20px
   
    .container-pics
       
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 20px

        .para-con 

            grid-column-start: 1
            grid-column-end: -1 
            box-shadow: $shadow
            background: #fafafa
            margin: 20px
            p 
                padding: 20px 
                text-align: center
                font-size: 1.8rem

        .book-img-box
            background: #fafafa
            text-align: center
            color: black
            box-shadow: $shadow
            margin-bottom: 20px

            .books-img
                padding-bottom: 20px
            // margin: 20px
        
            h3 
                padding: 10px
                font-size: 1.9rem
                font-weight: 900

        .icon-book-fist-p
            display: block
            margin: 10px auto
            width: 80px
            height: 80px
            padding: 20px
            opacity: .5

    

         
    .contaniner-meddle-section

        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr))

        .box-middle
            background: green
            box-shadow: $shadow
            background: #fafafa
            margin: 20px
          
            .icon-books
    
                width: 80px
                height: 80px
                padding: 20px
                margin: auto
                display: block
                opacity: .5
            p
                font-size: 1.8rem
                text-align: center
                padding: 10px
        
            .list-items
           
             font-size: 1.5rem
           
    
    .values-B

     p 
        margin: 10px 
        padding: 10px
        font-size: 1.9rem


       
    .wrapper-book-base
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        margin: 10px
        

        .books-base
        display: grid
       
       
        p 
       
            text-align: center
            font-size: 1.8rem

        .icon-base
        
            width: 80px
            height: 80px
            opacity: .5
    footer
     ul  
        grid-template-columns:  repeat(auto-fit, minmax(50px, 1fr))
        li 
            align-content: center
            a 
             font-size: 1.5rem


    .values-B

     p 
        margin: 10px 
        padding: 10px
        font-size: 1.9rem
.books-image-wrapper
    .text-book-cover
     
        h1 
            font-size: 5rem
            overflow: hidden
            padding: 15px
  

      
  
       
    
