@media only  screen and(min-device-width:769px) and (max-device-width:1024px)
    form 
         
       
        grid-gap: 20px
       
        
        grid-template-rows: 1fr
        grid-template-areas: "details centuries" " details yes-and-no" " details sell-and-buy" "details  submit-button"


   
          

    .main-wrapper
        .main-nav 
        
        
            ul  
                display: grid
                grid-template-columns: repeat(auto-fit, minmax(50px, 1fr))
                height: 51px
                border: none
             
                
                align-content: center
            
            li      
           
             text-decoration: none
             padding: 5px
       
            a
             margin: 0 auto

    .cat-1 
        display: grid
        grid-template-columns: repeat(3, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "top1 top1 top1" "top-img top-img1 top-img2" "top-buy top-buy top-buy" "top-sell top-sell top-sell " "values-B values-B values-B"

        .top1
            grid-area: top1
   
        .top-img 
        
            grid-area: top-img
        .top-img1 
            
            grid-area: top-img1
        .top-img2 
        
            grid-area: top-img2
    
        .top-buy 

            grid-area: top-buy
        .top-sell 
        
            grid-area: top-sell
        .values-B
        
            grid-area: values-B
     
            p 
            font-size: 1.5rem

        .home-img

            width: 200px
            height: 200px
           
        

    .century-main-wrapper
        display: grid
        grid-template-columns: repeat(2, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2 " "century-card3 century-text3" "century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 "
    

        .century-text-top
            grid-area: century-text-top
            padding: 50px
            p
                font-size: 2rem
            img 
                width: 250px
                height: 300px
                padding-bottom: 30px
            h4 
                font-size: 1.9rem
                font-style: italic
                letter-spacing: .1rem
                margin-bottom: 3px
            h3  
                font-size: 3rem

        .century-card1
            grid-area: century-card1

        .century-text1
            grid-area: century-text1
        
        .century-card2
            grid-area: century-card2
        .century-text2
            grid-area: century-text2
        .century-card3
            grid-area: century-card3
        .century-text3
            grid-area: century-text3
        .century-card4
            grid-area: century-card4
        .century-text4
            grid-area: century-text4
        .century-card5
            grid-area: century-card5
        .century-text5
            grid-area: century-text5
        .century-card6
            grid-area: century-card6
        .century-text6
            grid-area: century-text6
            
        img 
            margin-bottom: 50px
       
            
            


    .toggle-wrapper
        display: none
    .book-container
       
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-auto-rows: 1fr
        grid-gap: 10px
        padding-bottom: 10px

        .book-img-box
            background: #fafafa
            text-align: center
            color: black
            box-shadow: $shadow

    .books-image-wrapper

        .text-book-cover
            grid-template-rows:  100px  
            display: grid
            align-content: center
            
            h1 
                font-size: 7rem
                grid-row-start: 1
                grid-row-end: -1
                letter-spacing: .4rem
        

        .books-img 
        
           
                padding: 20px

    
    .century-sec 
        display: grid
        grid-template-columns: repeat(4, 1fr)
        padding-bottom: 10px
        grid-column-gap: 10px
    .cent-box 
        box-shadow: $shadow
        background: #fafafa
        font-size: 1.8rem
        line-height: 1.5rem

        height: 90px
   
    .container-pics
       
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 20px

        .para-con 

            grid-column-start: 1
            grid-column-end: -1 
            box-shadow: $shadow
            background: #fafafa
            margin: 20px
            p 
                padding: 20px 
                text-align: center
                font-size: 1.8rem
        img 
            padding: 10px
            width: 200px
            height: 200px
            border-radius: 50%

        .book-img-box
            background: #fafafa
            text-align: center
            color: black
            box-shadow: $shadow
            margin-bottom: 20px

            .books-img
                padding-bottom: 20px
            // margin: 20px
        
            h3 
                padding: 10px
                font-size: 1.9rem
                font-weight: 900

        .icon-book-fist-p
            display: block
            margin: 10px auto
            width: 80px
            height: 80px
            padding: 20px
            opacity: .5

    

         
    .contaniner-meddle-section

        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr))

        .box-middle
            background: green
            box-shadow: $shadow
            background: #fafafa
            margin: 20px
          
            .icon-books
    
                width: 80px
                height: 80px
                padding: 20px
                margin: auto
                display: block
                opacity: .5
            p
                font-size: 1.8rem
                text-align: center
                padding: 10px
        
            .list-items
           
             font-size: 1.5rem
           
 


       
    .wrapper-book-base
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        display: grid
        

        .books-base1
       
            p 
        
                text-align: center
                font-size: 1.8rem

        .icon-base
        
            width: 80px
            height: 80px
            opacity: .5
    footer
     ul  
        grid-template-columns:  repeat(auto-fit, minmax(50px, 1fr))
        li 
            align-content: center
            a 
             font-size: 1.5rem

    // .books-image-wrapper
    //     .text-book-cover
        
    //         h1 
    //         font-size: 5rem
    //         overflow: hidden
    //         padding: 15px


      
  
       
    
