
@media only  screen and(min-device-width:415px) and (max-device-width:768px)
    .century-main-wrapper
        .century-text-top
            grid-area: century-text-top


            p
                font-size: 1.6rem
                padding: 10px 70px
              

            .home-cat-icon-top
                opacity: .5
                width: 100px
                height: 100px
                margin: 0
        
        .century-text1, .century-text2,.century-text3 ,.century-text4,.century-text5, .century-text6
            p 
              
                font-size: 1.6rem
                padding: 10px

        .century-card6, .century-card5, .century-card4 ,.century-card3 ,.century-card2, .century-card1 
            h4 
        
                letter-spacing: .1rem
            
                margin-bottom: 3px
                font-size: 1.6rem
        
            h3  
                font-size: 2.6rem
                margin-top: 40px

            .century-img 
                margin-bottom: 100px
                margin-top: 40px
            
            .price
            
                width: 60%
                bottom: 0
                height: 0px
                padding: 10px 30px
                height: auto
              
                p 
                    text-align: center
                    font-size: 1.3rem
                    padding: 0px
                    text-align: left
                
                   
             

        display: grid
        grid-template-columns: repeat(2, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "century-text-top century-text-top" "century-card1 century-text1" "century-text2 century-card2" "century-card3 century-text3" " century-text4 century-card4 " "century-card5 century-text5" "century-text6 century-card6 "

        .century-card1
            grid-area: century-card1

        .century-text1
            
            grid-area: century-text1
           
        .century-card2
            grid-area: century-card2


        .century-text2
            grid-area: century-text2
        
        .century-card3
            grid-area: century-card3

        .century-text3
            grid-area: century-text3

        .century-card4
            grid-area: century-card4

        .century-text4
            grid-area: century-text4
        
        .century-card5
            grid-area: century-card5

        .century-text5
            grid-area: century-text5

        .century-card6
            grid-area: century-card6

        .century-text6
            grid-area: century-text6
        img 
            margin-bottom: 50px
            width: 200px
            height: 200px 

    .form-icon
        width: 80px
        height: 70px
        padding: 10px
        opacity: .3
    .contact-p
        font-size: 1.9rem
        margin: 20px
        padding: 20px
        .contac-email-logo
            width: 80px
            height: 70px
            padding: 10px
            opacity: .4
    .google-maps 
        position: relative
        padding-bottom: 40%
        margin: 20px
        height: 0
        overflow: hidden
        box-shadow: $shadow
     

    form    
        grid-template-columns: 1fr 1fr
        grid-gap: 20px
        margin: 0 auto
        margin-bottom: 15px
        grid-template-rows:  1fr 1fr 1fr 
        grid-template-areas: "details centuries"  "details yes-and-no" "details sell-and-buy" 

        .details 
            
            grid-column: 1/2
            grid-row: 1/4
            // grid-area: details
        .centuries 
            grid-column: 2/3
            grid-row: 1/2
            // grid-area: centuries 

        .yes-and-no
            .control-group 
                label
                    font-size: 1.5rem
              
        .sell-and-buy
            .control-group 
         
                label
                    font-size: 1.5rem
        legend
            font-size: 1.6rem

    .submit-button
        input
            grid-column: 1/-1
            grid-row: 4/5
            font-size: 1.6rem
            width: 60%

   


    .toggle-wrapper
        display: none

    .main-wrapper
        .main-nav 
            ul  
                display: grid
                grid-template-columns: repeat(5, 1fr)
                height: 50px
                margin: 0
                align-content: center
            
            li      
           
             text-decoration: none
             padding: 5px
             margin-left: 0
             text-align: center
             padding: 10px

            a
             margin: 0 auto
  
    .cat-1 
        display: grid
        grid-template-columns: repeat(3, 1fr)
        // grid-template-rows: repeat(5, auto)
        grid-template-areas: "top1 top1 top1" "top-img top-img1 top-img2" "top-buy top-buy top-buy" "top-sell top-sell top-sell " "values-B values-B values-B"

        .top1
        
            grid-area: top1
        

        .top-img 
        
            grid-area: top-img
        .top-img1 
            
            grid-area: top-img1
        .top-img2 
        
            grid-area: top-img2
    
        .top-buy 

            grid-area: top-buy
        .top-sell 
        
            grid-area: top-sell
        .values-B
        
            grid-area: values-B

    













            

            
    .books-image-wrapper
        grid-template-rows: 1fr 1fr 2fr 1fr 
        

        .text-book-cover
            grid-template-rows:  100px  
            display: grid
            align-content: center
            background: green
            h1 
                font-size: 5rem
                grid-row-start: 1
                grid-row-end: -1
                letter-spacing: .4rem
    .century-sec 
  
    .cent-box 
      
        font-size: 1.8rem
        line-height: 1.6rem
  

        height: 90px
  
    .container-pics
        
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-areas: "para-con para-con para-con"
        grid-gap: 20px
        margin: 20px
        .para-con 
            grid-area: para-con
         
            h3 
             
                font-size: 1.7rem
                font-weight: 900
        
        img 
            padding: 10px
            width: 200px
            height: 200px
            border-radius: 50%


        // .icon-book-fist-p
        //     display: block
      
        //     width: 80px
        //     height: 80px
        //     padding: 20px
        //     opacity: .5
      
        .books-img 
                padding: 20px 0px
    .contaniner-meddle-section
        .box-middle
            box-shadow: $shadow
            background: #fafafa
            margin: 20px

            .icon-books
           
                width: 80px
                height: 80px
                padding: 20px
                margin: auto
                display: block
                opacity: .5
            p
                font-size: 1.8rem
                text-align: center
                padding: 10px

        
    .wrapper-book-base
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        display: grid
        .books-base1 
            p 
                font-size: 1.8rem

    .table-wrapper
    .delivery-caption
        box-shadow: $shadow
        background: #fafafa
        margin: 10px
       
        p
            font-size: 1.8rem
            padding: 10px
            text-align: center//

            
            
        .delivery-truck-icon
            width: 90px
            height: 90px
            display: block
            margin: 5px auto
            opacity: 0.5

    table
        width: 98%
    
       
        .kg
            padding: 10px
            background: #80bb9b
  
            text-transform: uppercase
     
            


        td
            
           
            color: #000 
            text-align: center
            border: 1px solid #DEDEDE
            padding: 10px
            
            
        .eu, .uk,.re,.ue 
            text-align: left
            border: 2px solid #DEDEDE
            padding: 5px
            background: #bce4ce
            text-transform: uppercase
   


        .pr, .st
            padding: 10px
            border: 2px solid #DEDEDE
            background:  #bbebd1
            font-style: italic
            letter-spacing: .1rem
           
          

        tr 
       
        
        th 
            border: 2px solid #DEDEDE
  
        .premium
            // display: none
        .weight-kg
            //  display: none
    span 
            
            display: none  

    .delivery-estimate-p
        .delivery-package-icon
            width: 70px
            height: 70px
            display: block
            margin: 5px auto
            opacity: 0.5
            padding: 10px

    
        p 
            font-size: 1.6rem
            padding:  10px 50px 20px 50px 

    .countries-list
   
        p 
            line-height: 1.6rem
        ul
            padding: 15px
            display: flex
           

            li 
                padding: 20px
                font-size: 1.4rem
                
        img 
            width: 40px
            height: 40px
            padding-right: 6px
            display: block
            margin: 0 auto
       

    .delivery-dispath-p

        img 
            width: 70px
            height: 70px
            padding: 10px
        p 
            font-size: 1.6rem
            padding:  10px 70px 20px 70px 
          
       

         
         

.skiplink
    display: none
          
