
@media only  screen and(min-device-width:414px) and (max-device-width:768px) 
// .main-wrapper
//     .main-nav 
//         ul

//             flex-direction: row
//             z-index: 99
//             background: black
//             position: relative
//             margin-top: 200px
//             height: 77vh
           
//             width: 100%
        
           

    .century-sec 
        display: grid
        background: 
        
        
        padding-bottom: 10px
        grid-column-gap: 10px

        .cent-box 
           
            box-shadow: $shadow
            background: #fafafa
           
           
            height: 90px
            display: grid
            align-content: center
            text-align: center
            text-decoration: none
            font-family: paris
            font-size: 1.5rem
         
    .books-image-wrapper
        grid-template-rows: 1fr 1fr 2fr 1fr 
        
   
        .text-book-cover
            grid-template-rows:  100px  
            display: grid
            align-content: center
            h1 
                font-size: 5rem
                grid-row-start: 1
                grid-row-end: -1
                letter-spacing: .4rem
                
    .toggle-wrapper
        display: none

    .container-pics
        
        display: grid
            grid-template-columns: 1fr 1fr 1fr
        grid-gap: 20px
        .para-con 
            // background: blue
            // border: 3px solid
            p
                

       
        
               

           
    

        // .para-con 

        //     background: blue
        // grid-column-start: 1
        // grid-column-end: -1
        // background: #fafafa
        // margin: 20px
        //     p 
        //         padding: 20px 
        //         text-align: center
        //         font-size: 1.8rem

        // 
        //     border: 2px solid
        //     grid-column-start: 1
        //     grid-column-end: -1
          
          
      
        // background: #fafafa
        // text-align: center
        // color: black
        // box-shadow: $shadow
        // background: blue
        // margin-bottom: 20px

            // margin: 20px
        
            h3 
                padding: 10px
                font-size: 1.6rem
                font-weight: 900

        .icon-book-fist-p
            display: block
            margin: 10px auto
            width: 80px
            height: 80px
            padding: 20px
            opacity: .5
       

        .books-img 
                padding: 20px 0px
    .contaniner-meddle-section
        .box-middle
            box-shadow: $shadow
            background: #fafafa
            margin: 20px

            .icon-books
           
                width: 80px
                height: 80px
                padding: 20px
                margin: auto
                display: block
                opacity: .5
            p
                font-size: 1.8rem
                text-align: center
                padding: 10px

        // .values-B

        //     p 
        //     margin: 10px 
        //     padding: 10px
        //     font-size: 1.9rem


        
        .wrapper-book-base
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
            margin: 10px
            

            .books-base
            display: grid
        
        
            p 
        
                text-align: center
                font-size: 1.8rem

            .icon-base
            
                width: 80px
                height: 80px
                opacity: .5
           

              
            
    .boxes
        .values-B
            h3 
             font-size: 3rem
            p 
             font-size: 1.5rem
    footer
     ul  
        grid-template-columns:  repeat(auto-fit, minmax(50px, 1fr))
        li 
            align-content: center
            a 
             font-size: 1.5rem
          
