@media only  screen and(max-device-width:413px)
    
    .container-pics
    

        .para-con 

         

        .book-img-box
           
        
            h3 
              
.books-image-wrapper
   


.text-book-cover


    
h1  
    
    letter-spacing: .4rem
    font-size: 3.5rem
    overflow: hidden

    
 
    
.century-sec 
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    padding-bottom: 10px
    grid-gap: 10px
   
    
   
       
      
.wrapper-book-base
    
    .books-base1
    
        p
            font-size: 1.3rem
    .main-wrapper
        .top-img1

            .home-img
                background: pink
                grid-column-start: 1
                grid-column-end: -1
                grid-row-start: 2
                grid-row-end: 3
  
    
    


   

            
              
          
             
            
             
    

    
           
    
  