@media only  screen and(max-device-width:414px)
    /*-----====== CENTURY PAGE STYLES=====----*/

    .century-text-top
        
        p
            font-size: $Phone-paragraph
           
        .home-cat-icon-top
            opacity: .5
            width: 70px
            height: 70px
            margin: 10px
            
    .century-card6, .century-card5, .century-card4 ,.century-card3 ,.century-card2, .century-card1 
        h4 
    
            letter-spacing: .1rem
            margin-bottom: 3px
            font-size: $h4Phone-tittle
            line-height: 1rem
    
        h3  
            font-size: $h3Phone-tittle
            color: $mainColor

        .century-img
            padding: 40px

        
        .price
        
            width: 80%
            padding: 7px 30px
            
           
            p 
                
                display: block
                margin: 0 auto
                font-size: $phone-list
                
                &:first-child
                    margin-left: -12px
      
    .century-text1, .century-text2,.century-text3 ,.century-text4,
    .century-text5, .century-text6
        p
            font-size: $Phone-paragraph

    /*------ END ------- */








    /*-----========  CONTACT PAGE STYLES======------- */

   
    .contact-wrapper-details

        .contact-p
            background: #fafafa
            margin: 10px
            color: black
            display: block
            margin: 5 auto
            text-align: center
            box-shadow: $shadow
            font-size: $Phone-paragraph
            padding: 20px


            .form-icon
                width: 50px
                height: 50px
                padding: 10px
                opacity: .3

        .details-container 
        
            margin-bottom: 10px
        
            .contac-email-logo
        
                width: 50px
                height: 50px
                margin-top: 20px
                opacity: .4
        
            .email-text
          
                p
                    font-size: $Ipad-paragraph
            .phone
                    padding-bottom: 20px
                    p
                        font-size: $Ipad-paragraph

                    
                    
            
            
           

        
    .google-maps 
        position: relative
        padding-bottom: 40%
        margin: 20px
        height: 150px
        overflow: hidden
        box-shadow: $shadow
        background: #fafafa
    
    .google-maps iframe 
        top: 0
        left: 0
        width: 100% 
        height: 300px 
        margin-bottom: 7% 
    
    form
        display: grid
        margin: 10px
        grid-template-columns: 1fr
        width: 95%
        
        grid-template-rows: repeat(4, auto)
        grid-template-areas: "details" "centuries" "yes-and-no" "sell-and-buy"
        
        legend
            font-size: $h4Phone-tittle

        .details
            label
                font-size: $Phone-paragraph
                padding-left: 16px
                padding-bottom: 5px
            input
                    display: block
                    margin: 0 auto
        .centuries
            select 
                 
                font-size: $phone-list  
                  
            


        .yes-and-no
            .control-group 
                label
                    font-size: $Phone-paragraph
              
        .sell-and-buy
            .control-group 
         
                label
                    font-size: $Phone-paragraph
               
       

                
    .submit-button

        input
            width: 90%
        .sell-and-buy
            .control-group 
                label
                    font-size: $Phone-paragraph

    /*-----======== END CONTACT =======-------*/



    /*-----====== DELIVERY PAGE STYLES =========-------*/
    .table-wrapper
    .delivery-caption
        box-shadow: $shadow
        background: #fafafa
        margin: 10px
       
        p
            font-size: $Phone-paragraph
            padding: 10px 60PX
            text-align: center

            
            
        .delivery-truck-icon
            width: 50px
            height: 50px
            display: block
            margin: 0px auto
            opacity: 0.5

     
    table  
        width: 95%

        .kg
            padding: 10px
            font-size: $Phone-paragraph
           


        td
            
            padding: 1rem .5rem
            display: block
            font-size: $Phone-paragraph
            color: #000 
            left: 0
            border: 1px solid #DEDEDE
      
        .eu, .uk,.re,.ue 
            text-align: center
            padding: 10px 
            border: 1px solid #DEDEDE
            font-size: $h4Phone-tittle
            background: $defaul-color
            color: #fff
            letter-spacing: .2rem

        .pr, .st
           
            border: 1px solid #DEDEDE


        tr 
            display: block
            box-shadow: $shadow
            background: #fafafa
            margin: 15px 0px 10px 0px
           
        th 
          
            display: block
         
        .premium
            display: none
        .weight-kg
            display: none
    span 
        
        font-size: $Phone-paragraph
        margin-left: 100px



    .delivery-estimate-p
        .delivery-package-icon
            width: 50px
            height: 50px
            display: block
            margin: 10px auto
            opacity: 0.5

       

        p 

            font-size: $Phone-paragraph
            padding:  0px 60px  20px
            
    .countries-list
    
        h3 
            font-size: $h4Phone-tittle
            line-height: 1.3rem
            padding: 20px
            
        ul 
            display: grid
            grid-template-columns: 1fr 1fr
  
            li 
               
                font-size: $Phone-paragraph
                display: flex
                flex-direction: column
                padding: 10px
                // align-items: center
            
                img
                  
                    display: block
                    width: 0px
                    height: 30px
              
                    height: 0px
                
                    margin:  0 auto
                    // padding: 10px
                   
              
                

    .delivery-dispath-p
        p 
            font-size: $Phone-paragraph
            padding: 5px 50px 25px

        .delivery-time-icon
            width: 50px
            height: 50px
            padding-top: 10px

    /*-------========== END DELYVERY STYLES ========-------*/
      
           
 


    








    /*-------======== HOME  PAGE STYLES =======--------*/

    // .main-wrapper
    //     .top-img1

    //         .home-img
    //             background: pink
    //             grid-column-start: 1
    //             grid-column-end: -1
    //             grid-row-start: 2
    //             grid-row-end: 3

            

    //         h4 
    //             font-size: $h3Phone-tittle
    //             background: blue
        
    //             letter-spacing: .1rem
    //             margin-bottom: 3px
    
    //         h3  
    //             font-size: $h3Phone-tittle

                

            // .price
            //     background: grey
            //     margin-left: 0
            //     opacity: .6
            
            
            // p
            
            //     display: flex
            //     flex-direction: star
            //     padding: 2px  0px 1px
            //     margin: 2px 10px -10px 
            //     color: black
.cat-0
    .top1
        grid-area: top1
    
        padding: 20px
        text-align: center
        box-shadow: $shadow
        background: #fafafa
        margin: 10px

        h2 
            font-size: 2rem
            padding: 10px
            line-height: 1.3rem
            background: $mainColor
            color: #fff
            font-family: paris
            box-shadow: $shadow
            display: flex
            justify-content: center
            align-items: center
            padding: 10px 120px
            

        p 
            margin: 15px
            font-size: $Phone-paragraph 
            padding: 10px 10px
        
.cat-1
   
 
    .top-buy,.top-sell,.top-img ,.top-img1,.top-img2 
        margin: 10px
        box-shadow: $shadow
        
        
       
        // overflow: hidden
  
       
    .home-img
       
        padding-top: 20px
        margin: 0 auto 
        width: 100%
     
    
    h2 
        font-size: 2.9rem
        line-height: 3.4rem
    
        
    h3 
        font-size: $h3Phone-tittle
        margin: 20px 0px 0px
        color: $defaul-color
        line-height: 2.3rem
       
        
        // text-transform: uppercase
    p 
        margin: 15px 40px
        font-size: $Phone-paragraph

    .list-items
        text-align: left
        margin-left: 10px
        font-size: $phone-list
        padding: 20px
        padding-left: 1.5em
        text-indent: -1.5em
        li  
            padding-left: 1.5em
            text-indent: -1.5em
            line-height: 1rem
            &:before 
                    content: "📚"
                    padding-right: 3px
                    font-size: 7px
    .top-img, .top-img1, .top-img2
  
        img
            width: 150px
            height: 150px

    /* -----STAR BOOKS PAGE SMALL SCREENS MEDIA QUERIES----*/
.main-wrapper

    .cover-img 
      
        width: 100%
        height: 100%
        
    
.books-image-wrapper
  
    
    height: 84vh

.text-book-cover
 
    height: 100%

    
h1  
   
    font-size: $h1phone-cover
    font-size: 2rem
    overflow: hidden
    color: #fff
    letter-spacing: 1rem
    color: #fff

.century-sec 
  
    padding-bottom: 10px
    grid-gap: 10px
    margin: 10px
    a   
        font-size: $h4Phone-tittle
        line-height: 1.5rem
 
    .cent-box 
    
        height: 90px
      

.container-pics

    .para-con 
        margin: 20px
        p 
            padding: 20px  60px
            font-size: $Phone-paragraph

    

        .icon-book-fist-p
        
            margin: 0px auto
            width: 50px
            height: 50px
            padding-top: 10px

    .book-img-box
        margin-bottom: 20px
        margin: 20px

        h3 
            font-size: $h3Phone-tittle
            color: $mainColor
            line-height: 1.8rem

        .books-img 
            padding: 20px 0px
            width: 150px
            height: 150px
            

.contaniner-meddle-section
    .box-middle
        margin: 20px

        .icon-books
            width: 50px
            height: 50px

        p
            font-size: $Phone-paragraph
            padding: 20px 60px
// 


.wrapper-book-base
    
    .books-base1
        margin: 20px

      
        p 
            font-size: $Phone-paragraph
            padding: 20px 60px 

        .icon-base
            width: 60px
            height: 60px
        
    .books-base2
        @extend .books-base1

    .icon-base
       @extend .icon-base
    /*--- END BOOKS PAGE MEDIA QUERIES SMALL SCREENS---*/
        
   

    
footer
    ul 
        li 
       
            border-bottom: 1px solid rgb(242, 241, 241)
            &:nth-child(2)
                padding-left: 35px
       
            a
            
                font-size: $phone-list

            

  
    
    


   

            
              
          
             
            
             
    

    
           
    
  