@media only  screen and(max-device-width:410px)
    
    .container-pics
    

        .para-con 

         

        .book-img-box
           
        
            h3 
              
.books-image-wrapper
        grid-template-rows: 1fr 1fr 2fr 1fr 
        
   
        .text-book-cover
        
            h1 
                font-size: 1rem
                grid-row-start: 1
                grid-row-end: -1
                letter-spacing: .4rem
   
    
   
       
      
.wrapper-book-base
    
    .books-base1
    
        p
            font-size: 1.3rem

            
              
          
             
            
             
    

    
           
    
  