.century-main-wrapper
    display: block
   
    // .century-cover-img
    //     background-size: cover
    //     background-repeat: no repeat
    //     position: absolute
    //     height: 70vh


    .century-text-top
        background: #fafafa
        margin: 10px
        color: black
        display: block
        margin: 5 auto
        text-align: center
        box-shadow: $shadow
        padding: 20px
        p
        .home-cat-icon-top
            opacity: .5

        
            
         

    .century-text1, .century-text2,.century-text3 ,.century-text4,.century-text5, .century-text6,.century-card6, .century-card5, .century-card4 ,.century-card3 ,.century-card2, .century-card1
        @extend .century-text-top
        padding: 30px

        h4 
          
            font-style: italic
            letter-spacing: .1rem
            font-family: paris
  
        h3  
  
        .price
            background: #ece9ec
        
            margin: 0 auto
            font-family: paris
          
            p
                color: black
            
            .century-star
              
                color: $mainColor

        img 
            // -webkit-filter: sepia(5)
            // filter: sepia(5)
        

     
            


       


    
       