.century-main-wrapper
    display: block


    .century-text-top
        background: #fafafa
        margin: 10px
        color: black
        display: block
        margin: 5 auto
        text-align: center
        box-shadow: $shadow
        padding: 20px
        p
        .home-cat-icon-top
            opacity: .5

        
            
         

    .century-text1, .century-text2,.century-text3 ,.century-text4,.century-text5, .century-text6,.century-card6, .century-card5, .century-card4 ,.century-card3 ,.century-card2, .century-card1
        @extend .century-text-top
        padding: 30px

        h4 
          
            font-style: italic
            letter-spacing: .1rem
  
        h3  
  
        .price
            background: #ece9ec
            opacity: .6
            margin: 0 auto
          
            p
                color: black
          

        img 
            padding: 30px
     
            


       


    
       