.video-wrapper 
    display: grid
    grid-template-areas: "video-bg" 
  
   
   
    
   
    .video-bg
        grid-area: video-bg
        position: relative
        width: 100%
        height: auto
        grid-row: 1
        grid-column: 1
       
        