$defaul-color:           #236841
$light:                  #fff
$green-medium:           #1A4E30
$grey-medium:            #333
$gray-dark:              rgb(68, 68, 68)
$gray-light:             #ddd
$mainColor:              #236841
$background:             #ccc
$shadow: 0px 10px 13px -7px #000000

///PHONE 
$h4Phone-tittle: 1.3125rem
$h3Phone-tittle: 2rem
$Phone-paragraph: 1.0625rem
$phone-list: 0.75rem
$h1phone-cover: 3rem

 
////IPAD  DOING NOW 
$h4Ipad-tittle: 1.75rem //IPAD-ST  28PX
$h3Ipad-tittle: 2.5rem //IPAD-T  40PX
$Ipad-paragraph: 1.0625rem // IPAD-P 17PX
$Ipad-list: 0.875rem //IPAD- LIS 14PX 





////DESKTOP 
$h4Desktop-tittle: 2rem //32
$h3Desktop-tittle: 3rem  //48px
$Desktop-paragraph: 1.3125rem //21px
$Desktop-list: 0.875rem //14px
$nav-comm0n-bar: 0.875rem //14px
$footer-bar: 0.875rem //14px





