$defaul-color:           #236841
$light:                  #fff
$green-medium:           #1A4E30
$grey-medium:            #333
$gray-dark:              #222
$gray-light:             #ddd
$mainColor:              #236841
$background:             #ccc
$shadow: 0 1px 5px (104, 104, 104, 0.8)



