.cat-1
    display: block
   

    .top1
        background: #fafafa
       
        color: black
        display: block
       
        text-align: center
        box-shadow: $shadow
   
        p
         

    .top-buy,.top-sell,.top-img ,.top-img1,.top-img2 
        @extend .top1
  
       
    .home-img
        position: relative
        display: block
        margin: 0 auto 
        height: auto
    
    h2 
        
        
        font-family: paris
     
        text-align: center
        
    h3 
        
        color: $defaul-color
       
    p 
     

    .list-items
        // text-align: left
        margin-left: 50px
        font-size: 1rem
            