.cat-1

    // border-bottom: 1px solid grey 
    display: grid
    // grid-gap: 15px
    
   
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    // margin-bottom: 15px

    .top 
        background: #fafafa
        // padding-bottom: 15px
        text-align: center
        margin: 10px 
        color: black
        box-shadow: $shadow
    .books-img 
        padding: 20px
        border-radius: 20px
    .icon-books
        width: 130px
        height: 130px
    .home-img

        display: block
        padding-top: 20px
        margin: 0 auto 
        width: 150px
        height: 250px
        // height: auto

   

     

    h2 
        padding: 10px 0px 0px 0px
        font-size: 1.6rem
        font-family: paris
        line-height: 3.4rem
        
    h3 
        font-size: 2rem
        margin: 20px 
        color: $defaul-color
        // text-transform: uppercase
    p 
        margin: 15px
        font-size: 1.3rem
        
        

    .list-items
        text-align: left
        margin-left: 50px
            