.values-B
    background: #fafafa
    margin: 10px 15px
    
    text-align: center
    color: black
    box-shadow: $shadow
    font-size: .8rem

    p 
        margin: 20px
    
    h2 
        // padding: 20px
        // font-family: "paris"
    h3 
        font-size: 2rem
        margin: 10px
        color: $defaul-color