
// .main-wrapper  
 



 
.table-wrappper
    width: 100%
    // margin: 10px


    table
      
        border-collapse: collapse
        padding: 12px
        width: 90%
        margin: 10px auto

        
   
    
        td
            border: 1px solid #fafafa
            padding: 1rem 2rem
            display: block
            font-size: 1.4rem
            border: 1px solid black
            
            
            
         
        

        tr 
            display: block
            background: #fafafa
            margin-bottom: 10px
            
         
         
          
        
        
        th 
            border: 1px solid DEDEDE
            padding: 1rem 2rem
            text-transform: uppercase
            background: #000
            opacity: .5
            color: #fff
            font-size: 1.6rem
            display: block
            margin-bottom: 10px
            
           
            
        .premium
            display: none
        .weight-kg
             display: none
    span 
        
        margin-left: 60px
        font-size: 1.3rem
.delivery-logo
  
    img
        width: 60px
        height: 60px
        display: block
        margin: auto

.delivery-countries-wrapper

    .delivery-estimate-p
        background: #fafafa
        margin: 10px
        color: black
        display: block
        margin: 5 auto
        text-align: center
        box-shadow: $shadow
        padding: 20px
    .countries-list
        @extend .delivery-estimate-p
    .delivery-dispath-p
        @extend .delivery-estimate-p
        
            
            
            
       

           
    
    

caption
    font-size: 3rem
    padding: 1rem
    font-family: paris
    letter-spacing: .3rem

        // thead
        //     background-color: grey






  